amqp==5.2.0
arrow==1.3.0
Babel==2.14.0
bandit==1.7.7
bench-it==1.0.1
billiard==4.2.0
celery==5.3.6
certifi==2024.2.2
coverage==7.4.2
debugpy==1.8.1
defusedxml==0.7.1
docker-pycreds==0.4.0
email-validator==2.1.0.post1
flake8==7.0.0
flake8-alfred==1.1.1
flake8-bandit==4.1.1
flake8-blind-except==0.2.1
flake8-broken-line==1.0.0
flake8-bugbear==24.2.6
flake8-builtins==2.2.0
flake8-commas==2.1.0
flake8-comprehensions==3.14.0
flake8-eradicate==1.5.0
flake8-import-order==0.18.2
flake8-mutable==1.2.0
flake8-polyfill==1.0.2
flake8-print==5.0.0
flake8-quotes==3.4.0
flake8-tidy-imports==4.10.0
flake8-todo==0.7
Flask==3.0.2
Flask-Admin==1.6.1
Flask-Babel==4.0.0
Flask-HTTPAuth==4.8.0
Flask-Limiter==3.5.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-WTF==1.2.1
gunicorn==22.0.0
importlib-metadata==7.0.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jinja2-pluralize==0.3.0
junitparser==3.1.2
loguru==0.7.2
lxml==5.1.0
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
numpy==1.26.4
peewee==3.17.1
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.2.0
Pygments==2.17.2
pylint==3.0.3
pyodbc==5.1.0
pytest==8.0.1
pytest-cov==4.1.0
pytest-env==1.1.3
python-dateutil==2.8.2
python-dotenv==1.0.1
requests==2.31.0
sqlfluff==2.3.5
webencodings==0.5.1
Werkzeug==3.0.3
wrapt==1.16.0
wtf-peewee==3.0.5
WTForms==3.1.2
