flake8
flake8-alfred
flake8-bandit
flake8-blind-except
flake8-broken-line
flake8-bugbear
flake8-builtins
flake8-commas
flake8-comprehensions
flake8-eradicate
flake8-import-order
flake8-mutable
flake8-polyfill
flake8-print
flake8-quotes
flake8-tidy-imports
flake8-todo
flask-admin==1.5.3
flask-login==0.5.0
flask==1.0.2
flask_wtf==0.14.3
mypy==0.720
peewee==3.9.6
pytest==5.0.1
requests==2.23.0
werkzeug==0.16.1
wtf-peewee==3.0.0
