amqp==5.0.1
arrow==0.16.0
atomicwrites==1.4.0
attrs==20.2.0
Babel==2.8.0
backcall==0.2.0
bandit==1.6.2
bench-it==1.0.1
billiard==3.6.3.0
celery==5.0.0
certifi==2020.6.20
chardet==3.0.4
click-didyoumean==0.0.3
click-repl==0.1.6
click==7.1.2
colorama==0.4.3
configparser==5.0.0
debugpy==1.0.0rc2
decorator==4.4.2
diff-cover==2.6.1
docker-pycreds==0.4.0
entrypoints==0.3
eradicate==1.0
flake8-alfred==1.1.1
flake8-bandit==2.1.2
flake8-blind-except==0.1.1
flake8-broken-line==0.2.1
flake8-bugbear==20.1.4
flake8-builtins==1.5.3
flake8-commas==2.0.0
flake8-comprehensions==3.2.3
flake8-eradicate==0.4.0
flake8-import-order==0.18.1
flake8-mutable==1.2.0
flake8-polyfill==1.0.2
flake8-print==3.1.4
flake8-quotes==3.2.0
flake8-tidy-imports==4.1.0
flake8-todo==0.7
flake8==3.8.3
Flask-Admin==1.5.6
Flask-Babel==2.0.0
Flask-Limiter==1.4
git+git://github.com/maxcountryman/flask-login@e3d8079#egg=flask-login
Flask-WTF==0.14.3
Flask==1.1.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.8
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
inflect==4.1.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.18.1
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
jinja2-pluralize==0.3.0
Jinja2==2.11.2
junitparser==1.4.1
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter==1.0.0
jupyterlab-pygments==0.1.2
kombu==5.0.2
loguru==0.5.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.5.0
mypy-extensions==0.4.3
mypy==0.782
numpy==1.19.2
oyaml==1.0
packaging==20.4
parso==0.7.1
pathspec==0.8.0
pbr==5.5.0
peewee==3.13.3
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.7
psycopg2-binary==2.8.6
ptyprocess==0.6.0
py==1.10.0
pycairo==1.19.1
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.4
pylint==2.6.0
pynvim==0.4.2
pyodbc==4.0.30
pyparsing==2.4.7
pyrsistent==0.17.3
pytest-env==0.6.2
pytest==6.1.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytoml==0.1.21
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.24.0
six==1.15.0
smmap==3.0.4
sqlfluff==0.3.6
stevedore==3.2.2
traitlets==5.0.4
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
wtf-peewee==3.0.2
WTForms==2.3.3
zipp==3.2.0
