.btn-check:active + .btn-outline-blue,
.btn-check:checked + .btn-outline-blue,
.btn-check:hover + .btn-outline-blue,
.btn-outline-blue.active,
.btn-outline-blue.dropdown-toggle.show,
.btn-outline-blue:active,
.btn-outline-blue:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-check:active + .btn-outline-indigo,
.btn-check:checked + .btn-outline-indigo,
.btn-check:hover + .btn-outline-indigo,
.btn-outline-indigo.active,
.btn-outline-indigo.dropdown-toggle.show,
.btn-outline-indigo:active,
.btn-outline-indigo:hover {
    color: #fff;
    background-color: #6610f2;
    border-color: #6610f2;
}

.btn-check:active + .btn-outline-purple,
.btn-check:checked + .btn-outline-purple,
.btn-check:hover + .btn-outline-purple,
.btn-outline-purple.active,
.btn-outline-purple.dropdown-toggle.show,
.btn-outline-purple:active,
.btn-outline-purple:hover {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-check:active + .btn-outline-pink,
.btn-check:checked + .btn-outline-pink,
.btn-check:hover + .btn-outline-pink,
.btn-outline-pink.active,
.btn-outline-pink.dropdown-toggle.show,
.btn-outline-pink:active,
.btn-outline-pink:hover {
    color: #fff;
    background-color: #d63384;
    border-color: #d63384;
}

.btn-check:active + .btn-outline-red,
.btn-check:checked + .btn-outline-red,
.btn-check:hover + .btn-outline-red,
.btn-outline-red.active,
.btn-outline-red.dropdown-toggle.show,
.btn-outline-red:active,
.btn-outline-red:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-check:active + .btn-outline-orange,
.btn-check:checked + .btn-outline-orange,
.btn-check:hover + .btn-outline-orange,
.btn-outline-orange.active,
.btn-outline-orange.dropdown-toggle.show,
.btn-outline-orange:active,
.btn-outline-orange:hover {
    color: #fff;
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.btn-check:active + .btn-outline-yellow,
.btn-check:checked + .btn-outline-yellow,
.btn-check:hover + .btn-outline-yellow,
.btn-outline-yellow.active,
.btn-outline-yellow.dropdown-toggle.show,
.btn-outline-yellow:active,
.btn-outline-yellow:active {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-check:active + .btn-outline-green,
.btn-check:checked + .btn-outline-green,
.btn-check:hover + .btn-outline-green,
.btn-outline-green.active,
.btn-outline-green.dropdown-toggle.show,
.btn-outline-green:active,
.btn-outline-green:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-check:active + .btn-outline-teal,
.btn-check:checked + .btn-outline-teal,
.btn-check:hover + .btn-outline-teal,
.btn-outline-teal.active,
.btn-outline-teal.dropdown-toggle.show,
.btn-outline-teal:active,
.btn-outline-teal:hover {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
}

.btn-check:active + .btn-outline-cyan,
.btn-check:checked + .btn-outline-cyan,
.btn-check:hover + .btn-outline-cyan,
.btn-outline-cyan.active,
.btn-outline-cyan.dropdown-toggle.show,
.btn-outline-cyan:active,
.btn-outline-cyan:hover {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-check:active + .btn-outline-gray,
.btn-check:checked + .btn-outline-gray,
.btn-check:hover + .btn-outline-gray,
.btn-outline-gray.active,
.btn-outline-gray.dropdown-toggle.show,
.btn-outline-gray:active,
.btn-outline-gray:hover {
    color: #fff;
    background-color: #adb5bd;
    border-color: #adb5bd;
}

.btn-check:active + .btn-outline-black,
.btn-check:checked + .btn-outline-black,
.btn-check:hover + .btn-outline-black,
.btn-outline-black.active,
.btn-outline-black.dropdown-toggle.show,
.btn-outline-black:active,
.btn-outline-black:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-outline-blue {
    color: #0d6efd;
    border-color: #0d6efd;
}

.btn-outline-indigo {
    color: #6610f2;
    border-color: #6610f2;
}

.btn-outline-purple {
    color: #6f42c1;
    border-color: #6f42c1;
}

.btn-outline-pink {
    color: #d63384;
    border-color: #d63384;
}

.btn-outline-red {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-orange {
    color: #fd7e14;
    border-color: #fd7e14;
}

.btn-outline-yellow {
    color: #ffc107;
    border-color: #ffc107;
}

.btn-outline-green {
    color: #198754;
    border-color: #198754;
}

.btn-outline-teal {
    color: #20c997;
    border-color: #20c997;
}

.btn-outline-cyan {
    color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-outline-gray {
    color: #adb5bd;
    border-color: #adb5bd;
}

.btn-outline-black {
    color: #000;
    border-color: #000;
}
