@font-face {
	font-family: 'hawcons';
	src:url('hawcons.svg?-kxka6d') format('svg');
	src:url('hawcons.eot?#iefix-kxka6d') format('embedded-opentype'),
		url('hawcons.woff?-kxka6d') format('woff'),
		url('hawcons.ttf?-kxka6d') format('truetype'),
		url('hawcons.svg?-kxka6d#hawcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="hawcons-"], [class*=" hawcons-"] {
	font-family: 'hawcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hawcons-icon-mail-envelope:before {
	content: "\e600";
}
.hawcons-icon-mail-envelope-open:before {
	content: "\e601";
}
.hawcons-icon-mail-envelope-closed:before {
	content: "\e602";
}
.hawcons-icon-mail-envelope-open:before {
	content: "\e603";
}
.hawcons-icon-mail-envelope-open:before {
	content: "\e604";
}
.hawcons-icon-mail-envelope-closed:before {
	content: "\e605";
}
.hawcons-icon-mail-envelope-open:before {
	content: "\e606";
}
.hawcons-icon-mail-error:before {
	content: "\e607";
}
.hawcons-icon-mail-checked:before {
	content: "\e608";
}
.hawcons-icon-mail-cancel:before {
	content: "\e609";
}
.hawcons-icon-mail--forbidden:before {
	content: "\e60a";
}
.hawcons-icon-mail-add:before {
	content: "\e60b";
}
.hawcons-icon-mail-remove:before {
	content: "\e60c";
}
.hawcons-icon-flag:before {
	content: "\e60d";
}
.hawcons-icon-flag:before {
	content: "\e60e";
}
.hawcons-icon-flag:before {
	content: "\e60f";
}
.hawcons-icon-flag:before {
	content: "\e610";
}
.hawcons-icon-bookmark:before {
	content: "\e611";
}
.hawcons-icon-bookmark-add:before {
	content: "\e612";
}
.hawcons-icon-bookmark-remove:before {
	content: "\e613";
}
.hawcons-icon-eye-hidden:before {
	content: "\e614";
}
.hawcons-icon-eye:before {
	content: "\e615";
}
.hawcons-icon-star:before {
	content: "\e616";
}
.hawcons-icon-key:before {
	content: "\e617";
}
.hawcons-icon-key:before {
	content: "\e618";
}
.hawcons-icon-trash-can:before {
	content: "\e619";
}
.hawcons-icon-trash-can:before {
	content: "\e61a";
}
.hawcons-icon-information:before {
	content: "\e61b";
}
.hawcons-icon-information:before {
	content: "\e61c";
}
.hawcons-icon-book:before {
	content: "\e61d";
}
.hawcons-icon-book-bookmark:before {
	content: "\e61e";
}
.hawcons-icon-clipboard-edit:before {
	content: "\e61f";
}
.hawcons-icon-clipboard-add:before {
	content: "\e620";
}
.hawcons-icon-clipboard-remove:before {
	content: "\e621";
}
.hawcons-icon-clipboard:before {
	content: "\e622";
}
.hawcons-icon-clipboard-download:before {
	content: "\e623";
}
.hawcons-icon-clipboard-upload:before {
	content: "\e624";
}
.hawcons-icon-clipboard-checked:before {
	content: "\e625";
}
.hawcons-icon-clipboard-text:before {
	content: "\e626";
}
.hawcons-icon-clipboard-list:before {
	content: "\e627";
}
.hawcons-icon-note:before {
	content: "\e628";
}
.hawcons-icon-note-add:before {
	content: "\e629";
}
.hawcons-icon-note-remove:before {
	content: "\e62a";
}
.hawcons-icon-note-text:before {
	content: "\e62b";
}
.hawcons-icon-note-list:before {
	content: "\e62c";
}
.hawcons-icon-note-checked:before {
	content: "\e62d";
}
.hawcons-icon-note-important:before {
	content: "\e62e";
}
.hawcons-icon-notebook:before {
	content: "\e62f";
}
.hawcons-icon-notebook:before {
	content: "\e630";
}
.hawcons-icon-notebook:before {
	content: "\e631";
}
.hawcons-icon-notebook:before {
	content: "\e632";
}
.hawcons-icon-notebook-text:before {
	content: "\e633";
}
.hawcons-icon-notebook-list:before {
	content: "\e634";
}
.hawcons-icon-document:before {
	content: "\e635";
}
.hawcons-icon-document-text:before {
	content: "\e636";
}
.hawcons-icon-text:before {
	content: "\e637";
}
.hawcons-icon-download:before {
	content: "\e638";
}
.hawcons-icon-upload:before {
	content: "\e639";
}
.hawcons-icon-bookmark:before {
	content: "\e63a";
}
.hawcons-icon-diagrams:before {
	content: "\e63b";
}
.hawcons-icon-recording:before {
	content: "\e63c";
}
.hawcons-icon-table:before {
	content: "\e63d";
}
.hawcons-icon-music:before {
	content: "\e63e";
}
.hawcons-icon-movie:before {
	content: "\e63f";
}
.hawcons-icon-play:before {
	content: "\e640";
}
.hawcons-icon-graph:before {
	content: "\e641";
}
.hawcons-icon-time:before {
	content: "\e642";
}
/*.hawcons-icon-text:before {
	content: "\e643";
}*/
.hawcons-icon-code:before {
	content: "\e644";
}
.hawcons-icon-cloud:before {
	content: "\e645";
}
.hawcons-icon-documents:before {
	content: "\e646";
}
.hawcons-icon-documents:before {
	content: "\e647";
}
.hawcons-icon-search:before {
	content: "\e648";
}
.hawcons-icon-star:before {
	content: "\e649";
}
.hawcons-icon-unlocked:before {
	content: "\e64a";
}
.hawcons-icon-locked:before {
	content: "\e64b";
}
.hawcons-icon-error:before {
	content: "\e64c";
}
.hawcons-icon-cancel:before {
	content: "\e64d";
}
.hawcons-icon-checked:before {
	content: "\e64e";
}
.hawcons-icon-add:before {
	content: "\e64f";
}
.hawcons-icon-remove:before {
	content: "\e650";
}
.hawcons-icon-forbidden:before {
	content: "\e651";
}
.hawcons-icon-information:before {
	content: "\e652";
}
.hawcons-icon-folder-information:before {
	content: "\e653";
}
.hawcons-icon-list:before {
	content: "\e654";
}
.hawcons-icon-font:before {
	content: "\e655";
}
.hawcons-icon-inbox:before {
	content: "\e656";
}
.hawcons-icon-inboxes:before {
	content: "\e657";
}
.hawcons-icon-inbox-document:before {
	content: "\e658";
}
.hawcons-icon-inbox-document-text:before {
	content: "\e659";
}
.hawcons-icon-inbox-download:before {
	content: "\e65a";
}
.hawcons-icon-inbox-upload:before {
	content: "\e65b";
}
.hawcons-icon-folder:before {
	content: "\e65c";
}
.hawcons-icon-folders:before {
	content: "\e65e";
}
.hawcons-icon-folder-download:before {
	content: "\e65f";
}
.hawcons-icon-folder-upload:before {
	content: "\e660";
}
.hawcons-icon-folder-unlocked:before {
	content: "\e661";
}
.hawcons-icon-folder-locked:before {
	content: "\e662";
}
.hawcons-icon-folder-search:before {
	content: "\e663";
}
.hawcons-icon-folder-error:before {
	content: "\e664";
}
.hawcons-icon-folder-cancel:before {
	content: "\e665";
}
.hawcons-icon-folder-checked:before {
	content: "\e666";
}
.hawcons-icon-folder-add:before {
	content: "\e667";
}
.hawcons-icon-folder-remove:before {
	content: "\e668";
}
.hawcons-icon-folder-forbidden:before {
	content: "\e669";
}
.hawcons-icon-folder-bookmark:before {
	content: "\e66a";
}
.hawcons-icon-zip:before {
	content: "\e66b";
}
.hawcons-icon-zip:before {
	content: "\e66c";
}
.hawcons-icon-search:before {
	content: "\e66d";
}
.hawcons-icon-search-plus:before {
	content: "\e66e";
}
.hawcons-icon-search-minus:before {
	content: "\e66f";
}
.hawcons-icon-lock:before {
	content: "\e670";
}
.hawcons-icon-lock-open:before {
	content: "\e671";
}
.hawcons-icon-lock-open:before {
	content: "\e672";
}
.hawcons-icon-lock-stripes:before {
	content: "\e673";
}
.hawcons-icon-lock-rounded:before {
	content: "\e674";
}
.hawcons-icon-lock-rounded-open:before {
	content: "\e675";
}
.hawcons-icon-lock-rounded-open:before {
	content: "\e676";
}
.hawcons-icon-combination-lock:before {
	content: "\e677";
}
.hawcons-icon-printer:before {
	content: "\e678";
}
.hawcons-icon-printer:before {
	content: "\e679";
}
.hawcons-icon-printer-text:before {
	content: "\e67a";
}
.hawcons-icon-printer-text:before {
	content: "\e67b";
}
.hawcons-icon-shred:before {
	content: "\e67c";
}
.hawcons-icon-shredder:before {
	content: "\e67d";
}
.hawcons-icon-scan:before {
	content: "\e67e";
}
.hawcons-icon-cloud-download:before {
	content: "\e67f";
}
.hawcons-icon-cloud-upload:before {
	content: "\e680";
}
.hawcons-icon-cloud-error:before {
	content: "\e681";
}
.hawcons-icon-cloud:before {
	content: "\e682";
}
.hawcons-icon-inbox-filled:before {
	content: "\e683";
}
.hawcons-icon-pen:before {
	content: "\e684";
}
.hawcons-icon-pen-angled:before {
	content: "\e685";
}
.hawcons-icon-edit:before {
	content: "\e686";
}
.hawcons-icon-certificate:before {
	content: "\e687";
}
.hawcons-icon-certificate:before {
	content: "\e688";
}
.hawcons-icon-package:before {
	content: "\e689";
}
.hawcons-icon-box:before {
	content: "\e68a";
}
.hawcons-icon-box-filled:before {
	content: "\e68b";
}
.hawcons-icon-box:before {
	content: "\e68c";
}
.hawcons-icon-box:before {
	content: "\e68d";
}
.hawcons-icon-box-bookmark:before {
	content: "\e68e";
}
.hawcons-icon-tag-cord:before {
	content: "\e68f";
}
.hawcons-icon-tag:before {
	content: "\e690";
}
.hawcons-icon-tags:before {
	content: "\e691";
}
.hawcons-icon-tag-add:before {
	content: "\e692";
}
.hawcons-icon-tag-remove:before {
	content: "\e693";
}
.hawcons-icon-tag-checked:before {
	content: "\e694";
}
.hawcons-icon-tag-cancel:before {
	content: "\e695";
}
.hawcons-icon-paperclip:before {
	content: "\e696";
}
.hawcons-icon-basketball:before {
	content: "\e697";
}
.hawcons-icon-baseball:before {
	content: "\e698";
}
.hawcons-icon-tennis-ball:before {
	content: "\e699";
}
.hawcons-icon-bowling-ball:before {
	content: "\e69a";
}
.hawcons-icon-billiard-ball:before {
	content: "\e69b";
}
.hawcons-icon-soccer-ball:before {
	content: "\e69c";
}
.hawcons-icon-soccer-court:before {
	content: "\e69d";
}
.hawcons-icon-football:before {
	content: "\e69e";
}
.hawcons-icon-football:before {
	content: "\e69f";
}
.hawcons-icon-basketball:before {
	content: "\e6a0";
}
.hawcons-icon-baseball-set:before {
	content: "\e6a1";
}
.hawcons-icon-tennis-ball:before {
	content: "\e6a2";
}
.hawcons-icon-trophy:before {
	content: "\e6a3";
}
.hawcons-icon-trophy-one:before {
	content: "\e6a4";
}
.hawcons-icon-trophy:before {
	content: "\e6a5";
}
.hawcons-icon-medal:before {
	content: "\e6a6";
}
.hawcons-icon-medal:before {
	content: "\e6a7";
}
.hawcons-icon-weights:before {
	content: "\e6a8";
}
.hawcons-icon-tennis-racket:before {
	content: "\e6a9";
}
.hawcons-icon-basketball-hoop:before {
	content: "\e6aa";
}
.hawcons-icon-table-tennis:before {
	content: "\e6ab";
}
.hawcons-icon-volleyball:before {
	content: "\e6ac";
}
.hawcons-icon-stop-watch:before {
	content: "\e6ad";
}
.hawcons-icon-stop-watch:before {
	content: "\e6ae";
}
.hawcons-icon-hockey-stick:before {
	content: "\e6af";
}
.hawcons-icon-hockey-sticks:before {
	content: "\e6b0";
}
.hawcons-icon-shuttlecock:before {
	content: "\e6b1";
}
.hawcons-icon-golf:before {
	content: "\e6b2";
}
.hawcons-icon-move:before {
	content: "\e6b3";
}
.hawcons-icon-clipboard-move:before {
	content: "\e6b4";
}
.hawcons-icon-award:before {
	content: "\e6b5";
}
.hawcons-icon-award:before {
	content: "\e6b6";
}
.hawcons-icon-award:before {
	content: "\e6b7";
}
.hawcons-icon-award:before {
	content: "\e6b8";
}
.hawcons-icon-medal:before {
	content: "\e6b9";
}
.hawcons-icon-medal:before {
	content: "\e6ba";
}
.hawcons-icon-boxing-glove:before {
	content: "\e6bb";
}
.hawcons-icon-whistle:before {
	content: "\e6bc";
}
.hawcons-icon-volleyball-water:before {
	content: "\e6bd";
}
.hawcons-icon-checkered-flag:before {
	content: "\e6be";
}
.hawcons-icon-target-arrow:before {
	content: "\e6bf";
}
.hawcons-icon-target:before {
	content: "\e6c0";
}
.hawcons-icon-sailing-boat:before {
	content: "\e6c1";
}
.hawcons-icon-sailing-boat-water:before {
	content: "\e6c2";
}
.hawcons-icon-bowling-pins:before {
	content: "\e6c3";
}
.hawcons-icon-bowling-pin-ball:before {
	content: "\e6c4";
}
.hawcons-icon-diving-goggles:before {
	content: "\e6c5";
}
.hawcons-icon-sports-shoe:before {
	content: "\e6c6";
}
.hawcons-icon-soccer-shoe:before {
	content: "\e6c7";
}
.hawcons-icon-ice-skate:before {
	content: "\e6c8";
}
.hawcons-icon-cloud:before {
	content: "\e6c9";
}
.hawcons-icon-cloud-sun:before {
	content: "\e6ca";
}
.hawcons-icon-cloud-moon:before {
	content: "\e6cb";
}
.hawcons-icon-cloud-rain:before {
	content: "\e6cc";
}
.hawcons-icon-cloud-sun-rain:before {
	content: "\e6cd";
}
.hawcons-icon-cloud-moon-rain:before {
	content: "\e6ce";
}
.hawcons-icon-cloud-snow:before {
	content: "\e6cf";
}
.hawcons-icon-cloud-sun-snow:before {
	content: "\e6d0";
}
.hawcons-icon-cloud-moon-snow:before {
	content: "\e6d1";
}
.hawcons-icon-cloud-lightning:before {
	content: "\e6d2";
}
.hawcons-icon-cloud-sun-lightning:before {
	content: "\e6d3";
}
.hawcons-icon-cloud-moon-lightning:before {
	content: "\e6d4";
}
.hawcons-icon-cloud-wind:before {
	content: "\e6d5";
}
.hawcons-icon-cloud-raindrops:before {
	content: "\e6d6";
}
.hawcons-icon-cloud-sun-raindrops:before {
	content: "\e6d7";
}
.hawcons-icon-cloud-moon-raindrops:before {
	content: "\e6d8";
}
.hawcons-icon-cloud-snowflakes:before {
	content: "\e6d9";
}
.hawcons-icon-cloud-sun-snowflakes:before {
	content: "\e6da";
}
.hawcons-icon-cloud-moon-snowflakes:before {
	content: "\e6db";
}
.hawcons-icon-clouds:before {
	content: "\e6dc";
}
.hawcons-icon-cloud-add:before {
	content: "\e6dd";
}
.hawcons-icon-cloud-remove:before {
	content: "\e6de";
}
.hawcons-icon-cloud-error:before {
	content: "\e6df";
}
.hawcons-icon-cloud-fog:before {
	content: "\e6e0";
}
.hawcons-icon--cloud-sun-fog:before {
	content: "\e6e1";
}
.hawcons-icon-cloud-moon-fog:before {
	content: "\e6e2";
}
.hawcons-icon-moon-stars:before {
	content: "\e6e3";
}
.hawcons-icon-moon:before {
	content: "\e6e4";
}
.hawcons-icon-sun:before {
	content: "\e6e5";
}
.hawcons-icon-sunrise:before {
	content: "\e6e6";
}
.hawcons-icon-sunset:before {
	content: "\e6e7";
}
.hawcons-icon-sunset:before {
	content: "\e6e8";
}
.hawcons-icon-sunset:before {
	content: "\e6e9";
}
.hawcons-icon-rainbow:before {
	content: "\e6ea";
}
.hawcons-icon-umbrella:before {
	content: "\e6eb";
}
.hawcons-icon-raindrops:before {
	content: "\e6ec";
}
.hawcons-icon-raindrop:before {
	content: "\e6ed";
}
.hawcons-icon-sunglasses:before {
	content: "\e6ee";
}
.hawcons-icon-stars:before {
	content: "\e6ef";
}
.hawcons-icon-clouds:before {
	content: "\e6f0";
}
.hawcons-icon-moonrise:before {
	content: "\e6f1";
}
.hawcons-icon-moonset:before {
	content: "\e6f2";
}
.hawcons-icon-wind:before {
	content: "\e6f3";
}
.hawcons-icon-full-moon:before {
	content: "\e6f4";
}
.hawcons-icon-crescent:before {
	content: "\e6f5";
}
.hawcons-icon-half-moon:before {
	content: "\e6f6";
}
.hawcons-icon-gibbous-moon:before {
	content: "\e6f7";
}
.hawcons-icon-moon:before {
	content: "\e6f8";
}
.hawcons-icon-gibbous-moon:before {
	content: "\e6f9";
}
.hawcons-icon-half-moon:before {
	content: "\e6fa";
}
.hawcons-icon-crescent:before {
	content: "\e6fb";
}
.hawcons-icon-barometer:before {
	content: "\e6fc";
}
.hawcons-icon-compass-north:before {
	content: "\e6fd";
}
.hawcons-icon-compass-west:before {
	content: "\e6fe";
}
.hawcons-icon-compass-east:before {
	content: "\e6ff";
}
.hawcons-icon-compass-south:before {
	content: "\e700";
}
.hawcons-icon-air-sock:before {
	content: "\e701";
}
.hawcons-icon-tornado:before {
	content: "\e702";
}
.hawcons-icon-degree-fahrenheit:before {
	content: "\e703";
}
.hawcons-icon-degree-celsius:before {
	content: "\e704";
}
.hawcons-icon-warning:before {
	content: "\e705";
}
.hawcons-icon-compass:before {
	content: "\e706";
}
.hawcons-icon-compass:before {
	content: "\e707";
}
.hawcons-icon-compass:before {
	content: "\e708";
}
.hawcons-icon-compass:before {
	content: "\e709";
}
.hawcons-icon-thermometer:before {
	content: "\e70a";
}
.hawcons-icon-thermometer-low:before {
	content: "\e70b";
}
.hawcons-icon-thermometer-quarter:before {
	content: "\e70c";
}
.hawcons-icon-thermometer-half:before {
	content: "\e70d";
}
.hawcons-icon-thermometer-three-quarters:before {
	content: "\e70e";
}
.hawcons-icon-thermometer-full:before {
	content: "\e70f";
}
.hawcons-icon-lightning:before {
	content: "\e710";
}
.hawcons-icon-wind-turbine:before {
	content: "\e711";
}
.hawcons-icon-snowflake:before {
	content: "\e712";
}
.hawcons-icon-flashed-face:before {
	content: "\e713";
}
.hawcons-icon-flashed-face:before {
	content: "\e714";
}
.hawcons-icon-flashed-face-glasses:before {
	content: "\e715";
}
.hawcons-icon-face-missing-moth:before {
	content: "\e716";
}
.hawcons-icon-neutral-face:before {
	content: "\e717";
}
.hawcons-icon-smiling-face:before {
	content: "\e718";
}
.hawcons-icon-sad-face:before {
	content: "\e719";
}
.hawcons-icon-face-open-mouth:before {
	content: "\e71a";
}
.hawcons-icon-face-open-mouth:before {
	content: "\e71b";
}
.hawcons-icon-winking-face:before {
	content: "\e71c";
}
.hawcons-icon-laughing-face:before {
	content: "\e71d";
}
.hawcons-icon-laughing-face:before {
	content: "\e71e";
}
.hawcons-icon-smirking-face:before {
	content: "\e71f";
}
.hawcons-icon-stubborn-face:before {
	content: "\e720";
}
.hawcons-icon-neutral-face:before {
	content: "\e721";
}
.hawcons-icon-sad-face:before {
	content: "\e722";
}
.hawcons-icon-smiling-face:before {
	content: "\e723";
}
.hawcons-icon-smiling-face-eyebrows:before {
	content: "\e724";
}
.hawcons-icon-grinning-face-eyebrows:before {
	content: "\e725";
}
.hawcons-icon-sad-face-eyebrows:before {
	content: "\e726";
}
.hawcons-icon-neutral-face-eyebrows:before {
	content: "\e727";
}
.hawcons-icon-angry-face:before {
	content: "\e728";
}
.hawcons-icon-worried-face:before {
	content: "\e729";
}
.hawcons-icon-winking-face:before {
	content: "\e72a";
}
.hawcons-icon-angry-face-eyebrows:before {
	content: "\e72b";
}
.hawcons-icon-grinning-face:before {
	content: "\e72c";
}
.hawcons-icon-sad-face:before {
	content: "\e72d";
}
.hawcons-icon-grinning-face-eyebrows:before {
	content: "\e72e";
}
.hawcons-icon-fake-grinning-face-eyebrows:before {
	content: "\e72f";
}
.hawcons-icon-worried-face-eyebrows:before {
	content: "\e730";
}
.hawcons-icon-face-stuck-out-tongue:before {
	content: "\e731";
}
.hawcons-icon-face-stuck-out-tongue:before {
	content: "\e732";
}
.hawcons-icon-kissing-face:before {
	content: "\e733";
}
.hawcons-icon-grinning-face-teeth:before {
	content: "\e734";
}
.hawcons-icon-angry-face-teeth:before {
	content: "\e735";
}
.hawcons-icon-grinning-face-teeth:before {
	content: "\e736";
}
.hawcons-icon-face-open-mouth-eyebrows:before {
	content: "\e737";
}
.hawcons-icon-face-open-mouth-eyebrows:before {
	content: "\e738";
}
.hawcons-icon-angry-face-open-mouth-eyebrows:before {
	content: "\e739";
}
.hawcons-icon-unamused-face-tightly-closed-eyes:before {
	content: "\e73a";
}
.hawcons-icon-sad-face--tightly-closed-eyes:before {
	content: "\e73b";
}
.hawcons-icon-kissing-face:before {
	content: "\e73c";
}
.hawcons-icon-face-closed-meyes:before {
	content: "\e73d";
}
.hawcons-icon-amused-face:before {
	content: "\e73e";
}
.hawcons-icon-amused-face-closed-eyes:before {
	content: "\e73f";
}
.hawcons-icon-amused-face-closed-eyes:before {
	content: "\e740";
}
.hawcons-icon-face-closed-eyes-open-mouth:before {
	content: "\e741";
}
.hawcons-icon-face-closed-eyes-open-mouth:before {
	content: "\e742";
}
.hawcons-icon-face-closed-eyes-open-mouth:before {
	content: "\e743";
}
.hawcons-icon-laughing-face:before {
	content: "\e744";
}
.hawcons-icon-smiling-face:before {
	content: "\e745";
}
.hawcons-icon-grinning-face:before {
	content: "\e746";
}
.hawcons-icon-sad-face:before {
	content: "\e747";
}
.hawcons-icon-sad-face:before {
	content: "\e748";
}
.hawcons-icon-sad-face-closed-eyes:before {
	content: "\e749";
}
.hawcons-icon-sad-face:before {
	content: "\e74a";
}
.hawcons-icon-smiling-face:before {
	content: "\e74b";
}
.hawcons-icon-astonished-face:before {
	content: "\e74c";
}
.hawcons-icon-astonished-face:before {
	content: "\e74d";
}
.hawcons-icon-face-moustache:before {
	content: "\e74e";
}
.hawcons-icon-face-moustache:before {
	content: "\e74f";
}
.hawcons-icon-face-glasses:before {
	content: "\e750";
}
.hawcons-icon-face-sunglasses:before {
	content: "\e751";
}
.hawcons-icon-smirking-face-sunglasses:before {
	content: "\e752";
}
.hawcons-icon-middle-finger:before {
	content: "\e753";
}
.hawcons-icon-rock-n-roll:before {
	content: "\e754";
}
.hawcons-icon-high-five:before {
	content: "\e755";
}
.hawcons-icon-thumb-up:before {
	content: "\e756";
}
.hawcons-icon-thumb-down:before {
	content: "\e757";
}
.hawcons-icon-thumb-up:before {
	content: "\e758";
}
.hawcons-icon-thumb-down:before {
	content: "\e759";
}
.hawcons-icon-two-fingers-swipe-left:before {
	content: "\e75a";
}
.hawcons-icon-two-fingers-swipe-right:before {
	content: "\e75b";
}
.hawcons-icon-two-fingers-swipe-up:before {
	content: "\e75c";
}
.hawcons-icon-two-fingers-swipe-down:before {
	content: "\e75d";
}
.hawcons-icon-two-fingers:before {
	content: "\e75e";
}
.hawcons-icon-three-fingers-double-tap:before {
	content: "\e75f";
}
.hawcons-icon-two-fingers-resize-out:before {
	content: "\e760";
}
.hawcons-icon-two-fingers-resize-in:before {
	content: "\e761";
}
.hawcons-icon-two-fingers-rotate:before {
	content: "\e762";
}
.hawcons-icon-one-finger-swipe-left:before {
	content: "\e763";
}
.hawcons-icon-one-finger-swipe-right:before {
	content: "\e764";
}
.hawcons-icon-one-finger-swipe-up:before {
	content: "\e765";
}
.hawcons-icon-one-finger-swipe-down:before {
	content: "\e766";
}
.hawcons-icon-one-finger:before {
	content: "\e767";
}
.hawcons-icon-one-finger-double-tap:before {
	content: "\e768";
}
.hawcons-icon-one-finger-tap:before {
	content: "\e769";
}
.hawcons-icon-one-finger-tap-hold:before {
	content: "\e76a";
}
.hawcons-icon-thumb-finger-tap:before {
	content: "\e76b";
}
.hawcons-icon-one-finger-click:before {
	content: "\e76c";
}
.hawcons-icon-three-fingers-swipe-left:before {
	content: "\e76d";
}
.hawcons-icon-three-fingers-swipe-right:before {
	content: "\e76e";
}
.hawcons-icon-three-fingers-swipe-up:before {
	content: "\e76f";
}
.hawcons-icon-three-fingers-swipe-down:before {
	content: "\e770";
}
.hawcons-icon-three-fingers:before {
	content: "\e771";
}
.hawcons-icon-three-fingers-double-tap:before {
	content: "\e772";
}
.hawcons-icon-two-fingers-swipe-up:before {
	content: "\e773";
}
.hawcons-icon-one-finger-double-tap:before {
	content: "\e774";
}
.hawcons-icon-two-fingers-swipe-down:before {
	content: "\e775";
}
.hawcons-icon-two-fingers-swipe-right:before {
	content: "\e776";
}
.hawcons-icon-two-fingers-swipe-left:before {
	content: "\e777";
}
.hawcons-icon-one-finger-tap:before {
	content: "\e778";
}
.hawcons-icon-one-finger-tap-hold:before {
	content: "\e779";
}
.hawcons-icon-one-finger-click:before {
	content: "\e77a";
}
.hawcons-icon-one-finger-swipe-horizontally:before {
	content: "\e77b";
}
.hawcons-icon-one-finger-swipe:before {
	content: "\e77c";
}
.hawcons-icon-two-fingers-double-tap:before {
	content: "\e77d";
}
.hawcons-icon-two-fingers-tap:before {
	content: "\e77e";
}
.hawcons-icon-one-finger-swipe-left:before {
	content: "\e77f";
}
.hawcons-icon-one-finger-swipe-right:before {
	content: "\e780";
}
.hawcons-icon-one-finger-swipe-up:before {
	content: "\e781";
}
.hawcons-icon-one-finger-swipe-down:before {
	content: "\e782";
}
span.file-icon {
	padding-left: 0.5em;
}
.hawcons-icon-file-numbers:before {
	content: "\e783";
}
.hawcons-icon-file-pages:before {
	content: "\e784";
}
.hawcons-icon-file-app:before {
	content: "\e785";
}
.hawcons-icon-file-png:before {
	content: "\e786";
}
.hawcons-icon-file-pdf:before {
	content: "\e787";
}
.hawcons-icon-file-mp3:before {
	content: "\e788";
}
.hawcons-icon-file-mp4:before {
	content: "\e789";
}
.hawcons-icon-file-mov:before {
	content: "\e78a";
}
.hawcons-icon-file-jpg:before {
	content: "\e78b";
}
.hawcons-icon-file-key:before {
	content: "\e78c";
}
.hawcons-icon-file-html:before {
	content: "\e78d";
}
.hawcons-icon-file-css:before {
	content: "\e78e";
}
.hawcons-icon-file-java:before {
	content: "\e78f";
}
.hawcons-icon-file-psd:before {
	content: "\e790";
}
.hawcons-icon-file-ai:before {
	content: "\e791";
}
.hawcons-icon-file-bmp:before {
	content: "\e792";
}
.hawcons-icon-file-dwg:before {
	content: "\e793";
}
.hawcons-icon-file-eps:before {
	content: "\e794";
}
.hawcons-icon-file-tiff:before {
	content: "\e795";
}
.hawcons-icon-file-ots:before {
	content: "\e796";
}
.hawcons-icon-file-php:before {
	content: "\e797";
}
.hawcons-icon-file-py:before {
	content: "\e798";
}
.hawcons-icon-file-c:before {
	content: "\e799";
}
.hawcons-icon-file-sql:before {
	content: "\e79a";
}
.hawcons-icon-file-rb:before {
	content: "\e79b";
}
.hawcons-icon-file-cpp:before {
	content: "\e79c";
}
.hawcons-icon-file-tga:before {
	content: "\e79d";
}
.hawcons-icon-file-dxf:before {
	content: "\e79e";
}
.hawcons-icon-file-doc:before {
	content: "\e79f";
}
.hawcons-icon-file-odt:before {
	content: "\e7a0";
}
.hawcons-icon-file-xls:before {
	content: "\e7a1";
}
.hawcons-icon-file-docx:before {
	content: "\e7a2";
}
.hawcons-icon-file-ppt:before {
	content: "\e7a3";
}
.hawcons-icon-file-asp:before {
	content: "\e7a4";
}
.hawcons-icon-file-ics:before {
	content: "\e7a5";
}
.hawcons-icon-file-dat:before {
	content: "\e7a6";
}
.hawcons-icon-file-xml:before {
	content: "\e7a7";
}
.hawcons-icon-file-yml:before {
	content: "\e7a8";
}
.hawcons-icon-file-h:before {
	content: "\e7a9";
}
.hawcons-icon-file-exe:before {
	content: "\e7aa";
}
.hawcons-icon-file-avi:before {
	content: "\e7ab";
}
.hawcons-icon-file-odp:before {
	content: "\e7ac";
}
.hawcons-icon-file-dotx:before {
	content: "\e7ad";
}
.hawcons-icon-file-xlsx:before {
	content: "\e7ae";
}
.hawcons-icon-file-ods:before {
	content: "\e7af";
}
.hawcons-icon-file-pps:before {
	content: "\e7b0";
}
.hawcons-icon-file-dot:before {
	content: "\e7b1";
}
.hawcons-icon-file-txt:before {
	content: "\e7b2";
}
.hawcons-icon-file-rtf:before {
	content: "\e7b3";
}
.hawcons-icon-file-m4v:before {
	content: "\e7b4";
}
.hawcons-icon-file-flv:before {
	content: "\e7b5";
}
.hawcons-icon-file-mpg:before {
	content: "\e7b6";
}
.hawcons-icon-file-quicktime:before {
	content: "\e7b7";
}
.hawcons-icon-file-mid:before {
	content: "\e7b8";
}
.hawcons-icon-file-3gp:before {
	content: "\e7b9";
}
.hawcons-icon-file-aiff:before {
	content: "\e7ba";
}
.hawcons-icon-file-aac:before {
	content: "\e7bb";
}
.hawcons-icon-file-wav:before {
	content: "\e7bc";
}
.hawcons-icon-file-zip:before {
	content: "\e7bd";
}
.hawcons-icon-file-ott:before {
	content: "\e7be";
}
.hawcons-icon-file-tgz:before {
	content: "\e7bf";
}
.hawcons-icon-file-dmg:before {
	content: "\e7c0";
}
.hawcons-icon-file-iso:before {
	content: "\e7c1";
}
.hawcons-icon-file-rar:before {
	content: "\e7c2";
}
.hawcons-icon-file-gif:before {
	content: "\e7c3";
}
.hawcons-icon-file-numbers:before {
	content: "\e7c4";
}
.hawcons-icon-file-pages:before {
	content: "\e7c5";
}
.hawcons-icon-file-app:before {
	content: "\e7c6";
}
.hawcons-icon-file-png:before {
	content: "\e7c7";
}
.hawcons-icon-file-pdf:before {
	content: "\e7c8";
}
.hawcons-icon-file-mp3:before {
	content: "\e7c9";
}
.hawcons-icon-file-mp4:before {
	content: "\e7ca";
}
.hawcons-icon-file-mov:before {
	content: "\e7cb";
}
.hawcons-icon-file-jpg:before {
	content: "\e7cc";
}
.hawcons-icon-file-key:before {
	content: "\e7cd";
}
.hawcons-icon-file-html:before {
	content: "\e7ce";
}
.hawcons-icon-file-css:before {
	content: "\e7cf";
}
.hawcons-icon-file-java:before {
	content: "\e7d0";
}
.hawcons-icon-file-psd:before {
	content: "\e7d1";
}
.hawcons-icon-file-ai:before {
	content: "\e7d2";
}
.hawcons-icon-file-bmp:before {
	content: "\e7d3";
}
.hawcons-icon-file-dwg:before {
	content: "\e7d4";
}
.hawcons-icon-file-eps:before {
	content: "\e7d5";
}
.hawcons-icon-file-tiff:before {
	content: "\e7d6";
}
.hawcons-icon-file-ots:before {
	content: "\e7d7";
}
.hawcons-icon-file-php:before {
	content: "\e7d8";
}
.hawcons-icon-file-py:before {
	content: "\e7d9";
}
.hawcons-icon-file-c:before {
	content: "\e7da";
}
.hawcons-icon-file-sql:before {
	content: "\e7db";
}
.hawcons-icon-file-rb:before {
	content: "\e7dc";
}
.hawcons-icon-file-cpp:before {
	content: "\e7dd";
}
.hawcons-icon-file-tga:before {
	content: "\e7de";
}
.hawcons-icon-file-dxf:before {
	content: "\e7df";
}
.hawcons-icon-file-doc:before {
	content: "\e7e0";
}
.hawcons-icon-file-odt:before {
	content: "\e7e1";
}
.hawcons-icon-file-xls:before {
	content: "\e7e2";
}
.hawcons-icon-file-docx:before {
	content: "\e7e3";
}
.hawcons-icon-file-ppt:before {
	content: "\e7e4";
}
.hawcons-icon-file-asp:before {
	content: "\e7e5";
}
.hawcons-icon-file-ics:before {
	content: "\e7e6";
}
.hawcons-icon-file-dat:before {
	content: "\e7e7";
}
.hawcons-icon-file-xml:before {
	content: "\e7e8";
}
.hawcons-icon-file-yml:before {
	content: "\e7e9";
}
.hawcons-icon-file-h:before {
	content: "\e7ea";
}
.hawcons-icon-file-exe:before {
	content: "\e7eb";
}
.hawcons-icon-file-avi:before {
	content: "\e7ec";
}
.hawcons-icon-file-odp:before {
	content: "\e7ed";
}
.hawcons-icon-file-dotx:before {
	content: "\e7ee";
}
.hawcons-icon-file-xlsx:before {
	content: "\e7ef";
}
.hawcons-icon-file-ods:before {
	content: "\e7f0";
}
.hawcons-icon-file-pps:before {
	content: "\e7f1";
}
.hawcons-icon-file-dot:before {
	content: "\e7f2";
}
.hawcons-icon-file-txt:before {
	content: "\e7f3";
}
.hawcons-icon-file-rtf:before {
	content: "\e7f4";
}
.hawcons-icon-file-m4v:before {
	content: "\e7f5";
}
.hawcons-icon-file-flv:before {
	content: "\e7f6";
}
.hawcons-icon-file-mpg:before {
	content: "\e7f7";
}
.hawcons-icon-file-qt:before {
	content: "\e7f8";
}
.hawcons-icon-file-mid:before {
	content: "\e7f9";
}
.hawcons-icon-file-3gp:before {
	content: "\e7fa";
}
.hawcons-icon-file-aiff:before {
	content: "\e7fb";
}
.hawcons-icon-file-aac:before {
	content: "\e7fc";
}
.hawcons-icon-file-wav:before {
	content: "\e7fd";
}
.hawcons-icon-file-zip:before {
	content: "\e7fe";
}
.hawcons-icon-file-ott:before {
	content: "\e7ff";
}
.hawcons-icon-file-tgz:before {
	content: "\e800";
}
.hawcons-icon-file-dmg:before {
	content: "\e801";
}
.hawcons-icon-file-iso:before {
	content: "\e802";
}
.hawcons-icon-file-rar:before {
	content: "\e803";
}
.hawcons-icon-file-gif:before {
	content: "\e804";
}
