html {
  border: #f3f3f3;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

code,
input,
pre,
div#code-view {
  direction: ltr;
  text-align: left;
}

.rtl-language > ::-webkit-input-placeholder {
  text-align: right;
}

.rtl-language > ::-moz-placeholder {
  text-align: right;
}

.rtl-language > :-moz-placeholder {
  text-align: right;
}

.rtl-language > :-ms-input-placeholder {
  text-align: right;
}

#login-container {
  align-items: center;
  display: flex;
  min-height: calc(100vh - 4rem);
}

#login {
  margin: auto;
  max-width: 420px;
  padding: 15px;
  width: 100%;
}

#login-logo {
  margin-bottom: 1rem;
}

.page {
  margin: 3rem 0;
}

#exercises-page {
  display: flex;
  flex-direction: column;
}

#exercises-header {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-content: space-between;
}

#show-all-exercises-action {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  border: none;
  outline: none;
}

#exercises-head {
  display: flex;
}

.exercise {
  align-items: center;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.centered {
  justify-content: center;
}

.right-side,
.left-side {
  display: flex;
}

.left-side {
  justify-content: end;
}

.exercise-id {
  align-items: center;
  border-radius: 100%;
  border: 1px solid;
  display: flex;
  height: 3rem;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 3rem;
}

.rtl-language > .exercise-id {
  margin-left: 2em;
}

.ltr-language > .exercise-id {
  margin-right: 2em;
}

.exercise-name {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  height: 3rem;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.ex-title {
  display: flex;
  line-height: 3rem;
}

.exercise-send {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.go-send {
  background: #247ba0;
  color: #ebf3f6;
}

.go-send:hover {
  color: #ebf3f6;
}

.go-view {
  background: #ffe066;
  color: #18150a;
}

.go-view:hover {
  color: #18150a;
}

.go-checked {
  background: #70c1b3;
  color: #0b1211;
}

.go-checked:hover {
  color: #0b1211;
}

.go-grader {
  background: #b2dbbf;
  color: #1f2d3d;
}

.go-grader:hover {
  color: #1f2d3d;
}


#back-to-exercises {
  width: 100%;
  margin-top: 5vh;
}

#download-solution {
  min-width: 6%;
  font-size: 0.75rem;
  size: 0.5rem;
  align-self: center;
}

.our-button {
  border-radius: 8px;
  display: block;
  margin-right: 0.5em;
  outline: none;
  padding: 0.55rem 1rem;
  white-space: nowrap;
  width: 8em;
}

.our-button:hover {
  text-decoration: none;
}

.our-button-small {
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.fa {
  margin-left: 0.3em;
}

.our-button-small > i.fa {
  margin-left: 0;
}

.button-copy i.fa {
  margin-left: 0;
}

.btn i.fa {
  margin-left: 0;
}

#filetree {
  display: flex;
  overflow-x: none;
}

#files {
  list-style-type: none;
  text-align: left;
  margin: 0 1rem;
  direction: ltr;
  white-space: nowrap;
  padding: 0.2rem;
  line-height: 2;
}

/* Upload */
#send-page-parent {
  height: 100vh;
}

#send-head {
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}

#uploads {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dropzone {
  align-items: center;
  background: white;
  border-radius: 5px !important;
  border: 2px dashed #0087f7 !important;
  display: flex;
  justify-content: center;
  min-height: 30vh !important;
}

/* Check/see exercise view */
#page-view {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 3rem 2rem;
  width: 98vw;
}

.manager-progress-bar {
  width: 100%;
  direction: ltr;
}

#view-head {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

#view-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.unchecked-msg > strong {
  color: #ff1654;
}

.checked-msg > strong {
  color: #247ba0;
}

.pagination {
  padding-right: 0;
  padding-left: 0;
}

/* RTL Fix for pagination */
.pagination .page-item:first-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.pagination .page-item:last-child .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

/*
  background: #dfdfdf;
  border-radius: 4px;
  border: 1px solid #afafaf;
  direction: rtl;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: right;
  width: 30vw;
}

#grader-comments p {
  margin-bottom: 0;
}
*/

.code-view-container {
  position: relative;
  display: flex;
  direction: ltr;
  text-align: left;
  height: min-content;
  display: flex;
  flex-grow: 1;
  flex-basis: min(75vw, -moz-available);
  overflow-x: hidden;
}


#code-view {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.button-copy {
  position: absolute;
  right: 1em;
  top: 1em;
  background-color: gray;
  border-radius: 0.875em;
  border: 0.0625em solid #ffffff;
  cursor:pointer;
  color:#ffffff;
  font-size: 0.875rem;
  padding: 0.125em 0.5em;
  text-decoration: none;
}

.button-copy:hover {
	background-color:white;
}

pre {
  width: 100%;
}

.test-results {
  direction: rtl;
  text-align: right;
}

.test-result-title {
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
}

.test-results-list {
  padding: 0;
}

.test-result {
  padding: 10px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;

  border: 1px solid #c2bdbd;
}

.test-result .test-name {
  border-bottom: 1px solid #c2bdbd;
  margin-bottom: 12px;
  padding-bottom: 6px;
}

.test-result .title {
  font-weight: bold;
}

.stack-trace {
  direction: ltr;
  text-align: left;
}

code {
  display: block;
}

#popular-comments {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-right: 2rem;
  position: sticky;
  top: 2rem;
  min-width: 15vw;
}

#popular-comments h2 {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1em;
}

ol.comments {
  list-style-type: none;
  padding: 1em;
  text-align: right;
}

ol.comments > li {
  background: #c3dbe5;
  border: 1px solid #4b93b1;
  cursor: grab;
  margin-bottom: 0.7em;
  padding: 0.5em;
}

ol.comments > li:active {
  cursor: grabbing;
}

.comment-author {
  color: #50514f;
}

span.line {
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-left: 0.3em;
}

#grader-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#ninja {
  display: none;
  margin-top: 1rem;
}

.line[data-vimbackground="true"] {
  background: lightgreen;
}

#save-check {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 90%;
}

/*
code > code:last-of-type{
  display: inherit;
}
*/

.line[data-marked="true"] {
  background: #fac4c3;
}

.grader-add {
  position: relative;
  background-attachment: fixed;
  left: -0.88em;
  width: 1.375rem;
  height: 1.375rem;
  cursor: pointer;
  display: inline-block;
  color: #0366d6;
  border-radius: 0.375rem;
  transition: transform .1s ease-in-out;
  transform-origin: center;
  transform: scale(.8);
  opacity: 0;
}

.grader-add:hover {
  transform: scale(1);
}

code .grader-add .fa {
  margin-left: auto;
  margin-right: auto;
}

.grader-delete {
  cursor: pointer;  /* Very bad semantically, think of another UI solution */
}

code > .grader-add {
  display: block;
  position: absolute;
  right: 1em;
  z-index: 100;
}


/* Status page */
#page-status {
  text-align: right;
}

#status-head {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#page-status table {
  width: 80vw;
}

#page-status h1 {
  margin: 5vh 0;
  text-align: center;
}

#archive-row {
  text-align: center;
}


/* Navigation bar */

.mr-auto .dropdown-menu {
  right: auto !important;
  left: 0px;
}

.nav-item {
  padding-left: 1em;
  padding-right: 1em;
}


.which-notebook {
  align-self: center;
  margin-left: 0.5em;
  padding: 0.55rem 1rem;
}


.comments-count {
  align-self: center;
  font-size: 1.25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -0.25em;
}

.file-comments-count {
  position: absolute;
  margin-left: -0.8em;
  margin-top: -1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
}

#notification-icon {
  cursor: pointer;
}

.notification {
  flex-direction: column;
}

.notification[data-read="true"] .icon::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f2b6";  /* envelope-open */
}

.notification[data-read="false"] {
  background: #d1f0ff;
}

.notification[data-read="false"] .icon::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0e0";  /* envelope (closed) */
}

.notification-ok {
  margin-right: 1em;
}

.notification-date {
  font-size: 0.8em;
}


/* User's page */
#user {
  text-align: right;
}

#user h1 {
  margin: 5vh 0;
  text-align: center;
}

#user .body {
  width: 80vw;
  margin: auto;
}

#user table {
  width: 80vw;
}

#user .user-details {
  margin-bottom: 5em;
}
