html {
  border: #f3f3f3;
}

html,
body,
body > .container {
  height: 100%;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

code,
input,
pre,
div#code-view {
  direction: ltr;
  text-align: left;
}

a {
  text-decoration: none;
}

.rtl-language ::-webkit-input-placeholder {
  text-align: right;
}

.rtl-language ::-moz-placeholder {
  text-align: right;
}

.rtl-language :-moz-placeholder {
  text-align: right;
}

.rtl-language :-ms-input-placeholder {
  text-align: right;
}

#login-container,
#signup-container {
  height: 100%;
  align-items: center;
  display: flex;
  align-self: center;
}

#login,
#signup {
  margin: auto;
  max-width: 420px;
  padding: 15px;
  width: 100%;
}

#login-logo,
#signup-logo {
  margin-bottom: 1rem;
}

#login-message-box,
#signup-errors {
  background: #f1c8c8;
  color: #860606;
}

.page {
  margin: 3rem 0;
}

#exercises-page {
  display: flex;
  flex-direction: column;
}

#exercises-header {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-content: space-between;
}

#show-all-exercises-action {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  border: none;
  outline: none;
}

#exercises-head {
  display: flex;
}

#exercises {
  display: flex;
  flex-direction: column;
}

.exercise {
  align-items: center;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
  overflow: auto;
}

.centered {
  justify-content: center;
}

.right-side,
.left-side {
  display: flex;
  align-items: stretch;
}

.left-side {
  justify-content: end;
}

.exercise-id {
  align-items: center;
  border-radius: 100%;
  border: 1px solid;
  display: flex;
  height: 3rem;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 3rem;
}

.rtl-language > .exercise-id {
  margin-left: 2em;
}

.ltr-language > .exercise-id {
  margin-right: 2em;
}

.exercise-name {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  height: 3rem;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.ex-title {
  display: flex;
  line-height: 3rem;
}

.exercise-send {
  display: flex;
  flex-direction: row;
  align-items: left;
}

#cancel-share,
button#share-action {
  position: relative;
  display: flex;
  background: inherit;
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(27, 31, 35, 0.15);
  border: 1px solid;
  border-radius: 0.25em;
  align-self: center;
  align-content: center;
  justify-content: center;
  padding: 0;
  outline: none;
}

#copy-link:active,
#cancel-share:active,
button#share-action:active {
  color: #007bff;
}

#copy-link:hover,
#cancel-share:hover,
button#share-action:hover {
  color: rgba(0, 0, 0, 0.7);
}

#link-input {
  position: relative;
  display: table-cell;
  background-color: #fafbfc;
  color: #24292e;
  min-height: 2em;
  border: 1px solid;
  border-radius: 0.25em;
  border-color: rgba(27, 31, 35, 0.15);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.go-send {
  background: #247ba0;
  color: #ebf3f6;
}

.go-send:hover {
  color: #ebf3f6;
}

.go-view {
  background: #ffe066;
  color: #18150a;
}

.go-view:hover {
  color: #18150a;
}

.go-checked {
  background: #70c1b3;
  color: #0b1211;
}

.go-checked:hover {
  color: #0b1211;
}

.go-grader {
  background: #b2dbbf;
  color: #1f2d3d;
}

.go-grader:hover {
  color: #1f2d3d;
}

#back-to-exercises {
  width: 100%;
  margin-top: 5vh;
}

.our-button {
  border-radius: 8px;
  display: flex;
  margin-right: 0.5em;
  outline: none;
  padding: 0.55rem 1rem;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  width: 8em;
}

.our-button:hover {
  text-decoration: none;
}

.our-button-narrow {
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#filetree {
  display: flex;
  flex-basis: auto;
  max-width: 20vw;
  flex-shrink: 1;
  align-content: start;
  justify-content: left;
  margin-left: 0;
  padding-left: 0;
  margin-right: 2rem;
}

.file-comments-count {
  width: 1em;
  height: 1.5em;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 0 0.25em;
}

#files {
  list-style-type: none;
  text-align: left;
  direction: ltr;
  white-space: nowrap;
  padding: 0.2rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
}

.file-comments-count {
  height: 1.5em;
  display: inline-flex;
  align-self: center;
  margin: 0 0.25em;
  width: 1em;
}

#files .file {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
}

#files span.icon {
  display: flex;
  font-size: 1.25rem;
  margin: 0 0.25em;
  align-self: center;
}

#files a.filename {
  display: flex;
  align-self: center;
}

/* Upload */
#send-page-parent {
  height: 100vh;
}

#send-head {
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}

#uploads {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dropzone {
  align-items: center;
  background: white;
  border-radius: 5px !important;
  border: 2px dashed #0087f7 !important;
  display: flex;
  justify-content: center;
  min-height: 30vh !important;
}

.upload-feedback {
  display: flex;
  margin-top: 1em;
  justify-content: center;
}

.feedback-message {
  display: block;
  opacity: 1;
}

.feedback-hidden {
  display: none;
}

.feedback-transition.feedback-hidden {
  display: block;
  opacity: 0;
}

.feedback-transition {
  transition: opacity 0.5s ease;
}

/* Check/see exercise view */
#page-view {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 3rem 2rem;
  width: 98vw;
}

.manager-progress-bar {
  width: 100%;
  direction: ltr;
}

#view-head {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

#view-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.unchecked-msg > strong {
  color: #ff1654;
}

.checked-msg > strong {
  color: #247ba0;
}

.pagination {
  padding-right: 0;
  padding-left: 0;
}

/* RTL Fix for pagination */
.rtl-language .pagination .page-item:first-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rtl-language .pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.code-view-container {
  position: relative;
  direction: ltr;
  text-align: left;
  height: min-content;
  display: flex;
  overflow-x: hidden;
  flex-flow: column wrap;
  flex-basis: 70vw;
  flex-grow: 4;
}

#code-view {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

#code-toolbar {
  display: flex;
  background-color: #f5f2f0;
  border: 1px solid #e1e4e8;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  align-items: center;
  flex-direction: row;
  margin-bottom: -0.5em;
  padding: 0.6em;
}

.glowing button {
  color: rgba(0, 0, 0, 0.5) !important;
}

.glowing button:hover {
  color: rgb(0, 123, 255) !important;
}

.glowing button:active {
  color: rgb(0, 123, 195) !important;
}

.code-toolbar-button,
#share-text {
  padding: 0.4rem;
  margin: 0 0.2rem;
  border-radius: 0;
  outline: none;
}

#share-box > button {
  padding: 0 0.7rem;
}

#shareable-link {
  margin-right: 0.7rem;
}

#code-toolbar button {
  border: none;
  outline: none;
  background: none;
}

#number-of-lines {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
  flex: auto;
  margin-left: 1rem;
}

#code-toolbar-buttons {
  display: flex;
  align-items: center;
}

#share-box {
  display: flex;
  position: absolute;
  direction: rtl;
  align-items: center;
  top: 3em;
  right: 0.5em;
  z-index: 10;
  border: 1px solid lightgray;
  background: white;
  border-radius: 5px;
  padding: 0.4rem;
}

#share-box * {
  position: relative;
  display: flex;
  line-height: unset;
}

pre {
  width: 100%;
}

.code-image-block {
  display: flex;
  justify-content: center;
}

.test-results {
  direction: rtl;
  text-align: right;
}

.test-result-title {
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
}

.test-results-list {
  padding: 0;
}

.test-result {
  padding: 10px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #c2bdbd;
}

.test-result .test-name {
  border-bottom: 1px solid #c2bdbd;
  margin-bottom: 12px;
  padding-bottom: 6px;
}

.test-result .title {
  font-weight: bold;
}

.stack-trace {
  direction: ltr;
  text-align: left;
}

code {
  display: block;
}

#popular-comments {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-right: 2rem;
  position: sticky;
  top: 2rem;
  min-width: 15vw;
  flex-basis: auto;
  max-width: 20vw;
  flex-shrink: 1;
}

#popular-comments h2 {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1em;
}

ol.comments {
  list-style-type: none;
  padding: 1em;
  text-align: right;
}

ol.comments > li {
  background: #c3dbe5;
  border: 1px solid #4b93b1;
  cursor: grab;
  margin-bottom: 0.7em;
  padding: 0.5em;
}

ol.comments > li:active {
  cursor: grabbing;
}

.comment-author {
  color: #50514f;
}

span.line {
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  text-align: left;
  width: calc(100% - 1.4em);
  margin-left: 0.3em;
}

#grader-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#ninja {
  display: none;
  margin-top: 1rem;
}

.line[data-vimbackground="true"] {
  background: lightgreen;
}

#save-check {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 90%;
}

/*
code > code:last-of-type{
  display: inherit;
}
*/

.line[data-marked="true"] {
  background: #fac4c3;
}

.grader-add {
  background-attachment: fixed;
  display: inline-flex;
  width: 1rem;
  height: 1em;
  line-height: 1em;
  cursor: pointer;
  color: #0366d6;
  border-radius: 0.375rem;
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
  opacity: 0;
}

.grader-add:hover {
  opacity: 1;
  transform: scale(1.5);
}

code .grader-add .fa {
  margin-left: auto;
  margin-right: auto;
}

.grader-delete {
  cursor: pointer; /* Very bad semantically, think of another UI solution */
}

/* Status page */
#page-status {
  text-align: right;
}

#status-head {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#page-status table {
  width: 80vw;
}

#page-status h1 {
  margin: 5vh 0;
  text-align: center;
}

#archive-row {
  text-align: center;
}

/* Navigation bar */

.mr-auto .dropdown-menu {
  right: auto !important;
  left: 0;
}

.nav-item {
  padding-left: 1em;
  padding-right: 1em;
}

.which-notebook {
  align-self: center;
  margin: 0 1rem;
}

.comments-count {
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#notification-icon {
  cursor: pointer;
}

.notification {
  flex-direction: column;
  text-align: start;
}

.notification[data-read="true"] .icon::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f2b6"; /* envelope-open */
}

.notification[data-read="false"] {
  background: #d1f0ff;
}

.notification[data-read="false"] .icon::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0e0"; /* envelope (closed) */
}

.notification-ok {
  margin-right: 1em;
}

.notification-date {
  font-size: 0.8em;
}

/* User's page */
#user {
  text-align: right;
}

#user h1 {
  margin: 5vh 0;
  text-align: center;
}

#user .body {
  width: 80vw;
  margin: auto;
}

#user table {
  width: 80vw;
}

#user .user-details {
  margin-bottom: 5em;
}

.user-notes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.rtl .user-notes {
  justify-content: right;
}

.ltr .user-notes {
  justify-content: left;
}

.note {
  background-color: #fff170;
  width: 18%;
  margin: 0.5em;
}

.note-exercise-select {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.rtl-language #note-exercise {
  margin-right: 1em;
}

.ltr-language #note-exercise {
  margin-left: 1em;
}

.auto-width {
  width: auto;
}

.note-privacy-select {
  width: fit-content;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.note-privacy-input-range {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-range[value="0"] > .note-privacy-icon {
  content: 'abc';
}

.add-note {
  width: max-content;
  margin: auto;
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .exercise-id {
    display: none;
  }
  .which-notebook {
    display: none;
  }
  .comments-count {
    display: none;
  }
  .ex-title {
    font-size: 1rem;
  }
}
