# flake8: noqa

import os

WTF_CSRF_ENABLED = False  # On production, delete this line!

SECRET_KEY = ''
MAILGUN_API_KEY = os.getenv('MAILGUN_API_KEY')
MAILGUN_DOMAIN = os.getenv('MAILGUN_DOMAIN', 'mail.pythonic.guru')
SERVER_ADDRESS = os.getenv('SERVER_ADDRESS', '127.0.0.1:5000')

# SESSION_COOKIE_SECURE = True
SESSION_COOKIE_HTTPONLY = True
SESSION_COOKIE_SAMESITE = 'Lax'

# REMEMBER_COOKIE_SECURE = True
REMEMBER_COOKIE_HTTPONLY = True
REMEMBER_COOKIE_SAMESITE = 'Lax'

FEATURE_FLAG_CHECK_IDENTICAL_CODE_ON = os.getenv(
    'FEATURE_FLAG_CHECK_IDENTICAL_CODE_ON', False,
)


MAIL_WELCOME_MESSAGE = 'welcome-email'
USERS_CSV = 'users.csv'
ERRORS_CSV = 'errors.csv'

# Files limits sizes
MAX_UPLOAD_SIZE = 2_000_000  # 2MB (in bytes)
MAX_ZIP_CONTENT_SIZE = 5_000_000  # 5MB (in bytes)

# Shareable option
SHAREABLE_SOLUTIONS = True

# Users comments option
USERS_COMMENTS = True

# Babel config
LANGUAGES = {
    'he': 'Hebrew',
    'en': 'English',
}
LOCALE = 'en'
