.sidebar {
  margin: 0;
  padding: 0;
  width: 12.5em;
  background-color: #f1f1f1;
  position: fixed;
  overflow: auto;
  margin-left: -12.5em;
}

.navbar-brand > img {
  margin-left: 3em;
}

.nav > li {
  position: relative;
  display: contents;
}

.nav-tabs {
  display: flex;
}

a {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-nav li:not(.active) a:hover {
  background-color: rgba(0, 123, 255, 0.5);
}

.sidebar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
  background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
.sidebar-default .navbar-nav > .open > a,
.sidebar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #007bff 100%);
  background-image: -o-linear-gradient(top, #dbdbdb 0%, #007bff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#007bff));
  background-image: linear-gradient(to bottom, #dbdbdb 0%, #007bff 100%);
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ff007bff', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .015);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, .015);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #007bff;
  border-color: #007bff;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #007bff;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
