html {
  direction: rtl;
  text-align: right;
  border: #f3f3f3;
}

code, input, pre, div#code-view {
  direction: ltr;
  text-align: left;
}

::-webkit-input-placeholder {
  text-align: right;
}
:-moz-placeholder {
  text-align: right;
}
::-moz-placeholder {
  text-align: right;
}
:-ms-input-placeholder {
  text-align: right;
}

#login-container {
  align-items: center;
  display: flex;
  min-height: calc(100vh - 4rem);
}

#login {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

#login-logo {
  margin-bottom: 1rem;
}

.page {
  margin: 3rem 0rem;
  direction: rtl;
  text-align: right;
}

#exercises-head {
  margin-bottom: 2rem;
}

.exercise {
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  padding: 1rem;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  background: #f8f8f8;
}

.right-side, .left-side {
  display: flex;
}

.left-side {
  justify-content: end;
}

.exercise-id {
  display: flex;
  border: 1px solid;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin-left: 2em;
}

.exercise-name {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3rem;
  white-space: nowrap;
}

.textish {
  display: flex;
  line-height: 3rem;
}

.go-send {
  background: #247ba0;
  color: #ebf3f6;
}

.go-send:hover {
  color: #ebf3f6;
}

.go-view {
  background: #ffe066;
  color: #18150a;
}
.go-view:hover {
  color: #18150a;
}

.go-checked {
  background: #70c1b3;
  color: #0b1211;
}

.go-checked:hover {
  color: #0b1211;
}

.our-button {
  display: block;
  width: 8em;
  border-radius: 8px;
  padding: 0.55rem 1rem;
  margin-right: 5rem;
  white-space: nowrap;
  outline: none;
}

.our-button:hover {
  text-decoration: none;
}

i.fa {
  margin-left: 0.3em;
}

/* Upload */
#send-head {
  margin-bottom: 5rem;
  margin-right: auto;
  margin-left: auto;
}

#uploads {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #0087F7 !important;
  border-radius: 5px !important;
  background: white;
  min-height: 30vh !important;
}


/* Check/see exercise view */
#page-view {
  padding: 3rem 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

#view-head {
  display: flex;
  width: 100%;
  direction: rtl;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#view-body {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.line-numbers-rows {
}

#code-view {
  grid-area: code;
  width: 80%;
  direction: ltr;
  text-align: left;
}

#popular-comments {
  display: flex;
  position: sticky;
  height: 90vh;
  top: 2rem;
  flex-direction: column;
  margin-right: 2rem;
}

#popular-comments h2 {
  font-size: 1.5rem;
  text-align: right;
  direction: rtl;
  margin-bottom: 1em;
  font-style: italic;
}

ol.comments {
  direction: rtl;
  text-align: right;
  list-style-type: none;
  padding: 1em;
}

ol.comments > li {
  margin-bottom: 0.7em;
  padding: 0.5em;
  background: #c3dbe5;
  cursor: grab;
  border: 1px solid #4b93b1;
}

ol.comments > li:active {
  cursor: grabbing;
}

span.line {
  width: 100%;
  display: inline-block;
  direction: ltr;
  text-align: left;
}
