html {
  border: #f3f3f3;
  direction: rtl;
  text-align: right;
}

code,
input,
pre,
div#code-view {
  direction: ltr;
  text-align: left;
}

::-webkit-input-placeholder {
  text-align: right;
}

::-moz-placeholder {
  text-align: right;
}

:-moz-placeholder {
  text-align: right;
}

:-ms-input-placeholder {
  text-align: right;
}

#login-container {
  align-items: center;
  display: flex;
  min-height: calc(100vh - 4rem);
}

#login {
  margin: auto;
  max-width: 420px;
  padding: 15px;
  width: 100%;
}

#login-logo {
  margin-bottom: 1rem;
}

.page {
  direction: rtl;
  margin: 3rem 0;
  text-align: right;
}

#exercises-head {
  margin-bottom: 2rem;
}

.exercise {
  align-items: center;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.right-side,
.left-side {
  display: flex;
}

.left-side {
  justify-content: end;
}

.exercise-id {
  align-items: center;
  border-radius: 100%;
  border: 1px solid;
  display: flex;
  height: 3rem;
  justify-content: center;
  margin-left: 2em;
  overflow: hidden;
  text-align: center;
  width: 3rem;
}

.exercise-name {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  height: 3rem;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.ex-title {
  display: flex;
  line-height: 3rem;
}

.go-send {
  background: #247ba0;
  color: #ebf3f6;
}

.go-send:hover {
  color: #ebf3f6;
}

.go-view {
  background: #ffe066;
  color: #18150a;
}

.go-view:hover {
  color: #18150a;
}

.go-checked {
  background: #70c1b3;
  color: #0b1211;
}

.go-checked:hover {
  color: #0b1211;
}

.our-button {
  border-radius: 8px;
  display: block;
  margin-right: 5rem;
  outline: none;
  padding: 0.55rem 1rem;
  white-space: nowrap;
  width: 8em;
}

.our-button:hover {
  text-decoration: none;
}

i.fa {
  margin-left: 0.3em;
}

/* Upload */
#send-page-parent {
  height: 100vh;
}

#send-head {
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}

#uploads {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dropzone {
  align-items: center;
  background: white;
  border-radius: 5px !important;
  border: 2px dashed #0087f7 !important;
  display: flex;
  justify-content: center;
  min-height: 30vh !important;
}

/* Check/see exercise view */
#page-view {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 3rem 2rem;
  width: 98vw;
}

#view-head {
  align-items: center;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

#view-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/*
  background: #dfdfdf;
  border-radius: 4px;
  border: 1px solid #afafaf;
  direction: rtl;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: right;
  width: 30vw;
}

#grader-comments p {
  margin-bottom: 0;
}
*/

#code-view {
  direction: ltr;
  text-align: left;
  width: 80%;
}

code {
  display: block;
}

#popular-comments {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-right: 2rem;
  position: sticky;
  top: 2rem;
}

#popular-comments h2 {
  direction: rtl;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1em;
  text-align: right;
}

ol.comments {
  direction: rtl;
  list-style-type: none;
  padding: 1em;
  text-align: right;
}

ol.comments > li {
  background: #c3dbe5;
  border: 1px solid #4b93b1;
  cursor: grab;
  margin-bottom: 0.7em;
  padding: 0.5em;
}

ol.comments > li:active {
  cursor: grabbing;
}

span.line {
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  text-align: left;
  width: 100%;
}

#grader-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#save-check {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 90%;
}

/*
code > code:last-of-type{
  display: inherit;
}
*/

.line[data-marked="true"] {
  background: #fac4c3;
}

.grader-add {
  cursor: copy;  /* Very bad semantically, think of another UI solution */
  display: none;
}

.grader-delete {
  cursor: pointer;  /* Very bad semantically, think of another UI solution */
}

code > .grader-add {
  display: block;
  position: absolute;
  right: 1em;
  z-index: 100;
}
