{%- extends 'base.html' -%}

{%- block page_content -%}
<div class="container">
  <div id="exercises-page" class="page">
    <h1 id="exercises-head">תרגילים</h1>
    <div id="exercises">
      {% for exercise in exercises %}
      <div class="exercise">
        <div class="right-side">
          <div class="exercise-id">{{ exercise['exercise_id'] }}</div>
          <div class="exercise-name"><div class="ex-title">{{ exercise['exercise_name'] }}</div></div>
        </div>
        <div class="left-side">
          <div class="exercise-send">
            {%- if exercise['is_checked'] is none %}
            {% set details = {'page': 'send', 'icon': 'upload', 'text': 'שלח', 'css': 'send', 'page_id': exercise['exercise_id']} %}
            {% elif not exercise['is_checked'] %}
            {% set details = {'page': 'view', 'icon': 'eye', 'text': 'הצצה', 'css': 'view', 'page_id': exercise['solution_id']} %}
            {% else %}
            {% set details = {'page': 'view', 'icon': 'circle-check-o', 'text': 'לבדיקה', 'css': 'checked', 'page_id': exercise['solution_id']} %}
            {% endif -%}
            <a class="our-button go-{{ details['css'] }}" href="{{ details['page'] }}/{{ details['page_id'] }}">
              <i class="fa fa-{{ details['icon'] }}" aria-hidden="true"></i> 
              {{ details['text'] }}
            </a>
            {% if is_manager %}
            <a class="our-button our-button-small go-grader" href="check/{{ exercise['exercise_id'] }}">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{%- endblock -%}
