{% extends 'base.html' %}

{% block page_content %}
<div class="container banned">
    <div id="login-container">
        <div id="login" class="text-center">
            <div id="course-logo" style="opacity: 0.6">
                <img id="login-logo" src="{{ url_for('static', filename='avatar.jpg') }}" alt="{{ _('תמונת הפרופיל של קורס פייתון') }}" width="144" height="144">
            </div>
            <h1 id="main-title" class="h3 font-weight-normal">השעייה</h1>
            <p>
                {{ _('המשתמש שלך הושעה על ידי מנהל המערכת.') }}<br>
                {{ _('לפרטים נוספים אנא פנה אל צוות הניהול.') }}
            </p>
        </div>
    </div> 
</div>
{% endblock %}
