{% extends 'base.html' %}

{% block page_content %}
<div class="container banned">
    <div id="banned-container">
        <div id="banned" class="text-center">
            <div id="course-logo" style="opacity: 0.6">
                <img id="banned-logo" src="{{ url_for('static', filename='avatar.jpg') }}" alt="{{ _('Profile picture of the Python Course') }}" width="144" height="144">
            </div>
            <h1 id="main-title" class="h3 font-weight-normal">השעייה</h1>
            <p>
                {{ _('Your account has been suspended by the manager.') }}<br>
                {{ _('For more details please contact the management team.') }}
            </p>
        </div>
    </div> 
</div>
{% endblock %}
