<!DOCTYPE html>
<html lang="en" class="{{ direction }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ _('מערכת הגשת תרגילים לקורס פייתון') }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='my.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='prism.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='hawcons.css') }}">
    <link rel="manifest" href="{{ url_for('manifest') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
    <link rel="icon" sizes="16x16 32x32 48x48"  href="{{ url_for('static', filename='icons/icons.ico') }}">
    <link rel="icon" sizes="512x512" href="{{ url_for('static', filename='icons/icon_hi.jpg') }}">
    <meta name="theme-color" content="#ffffff">
    <script src="{{ url_for('static', filename='my.js') }}"></script>
</head>
<body>
    {% include 'navbar.html' %}
    {% block page_content %}{% endblock %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
</body>
</html>
