{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block page_content %}
  <div class="container">
    <div id="change-password-container">
      <div id="change-password" class="text-center">
        <h1 id="main-title" class="h3 font-weight-normal">{{ _('שינוי סיסמה') }}</h1>
        <p>
          {{ _('הזינו סיסמה ישנה וסיסמה חדשה לצורך שינוי הסיסמה:') }}
        </p>
        <form class="align-items-center {{ direction }}-language" method="post" action="{{ url_for('change_password') }}">
            {{ render_field(form.current_password, cls="form-control form-control-lg", placeholder=_('סיסמה נוכחית')) }}
            {{ render_field(form.password, cls="form-control form-control-lg", placeholder=_('סיסמה חדשה')) }}
            {{ render_field(form.confirm, cls="form-control form-control-lg", placeholder=_('אימות סיסמה חדשה')) }}
          <input class="form-control form-control-lg" type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}" required>
          <button class="btn btn-primary btn-lg btn-block">{{ _('שנה סיסמה') }}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
