{%- extends 'base.html' -%}

{%- block page_content -%}
<div class="container">
  <div id="exercises-page" class="page {{ direction }}">
    <div id="exercises-header">
      <div id="main-title">
        <h1 id="exercises-head">{{ _('Exercises') }}</h1>
      </div>
    </div>
    <div id="exercises">
      {%- for solution in solutions %}
      <div class="exercise" {%- if solution.grade_color %} style="border-right: 8px solid {{ solution.grade_color }};" {%- endif -%}>
        <div class="right-side {{ direction }}-language">
          <div class="exercise-number me-3">{{ solution['exercise_number'] }}</div>
          <div class="exercise-name"><div class="ex-title">{{ solution['exercise_name'] | e }}</div></div>
        </div>
        <div class="left-side">
          {%- if solution['notebook'] %}
          <div class="which-notebook">
            <i class="fa fa-book" aria-hidden="true"></i>
            {{ solution['notebook'] }}
          </div>
          {%- endif %}
          {%- if solution.get('is_checked') is none %}
            {% set details = {'page': 'send', 'icon': 'upload', 'text': _('Send'), 'css': 'send', 'page_id': solution['course_id'] ~ '/' ~ solution['exercise_id']} %}
          {% elif not solution.get('is_checked') %}
            {% set details = {'page': 'view', 'icon': 'eye', 'text': _('View'), 'css': 'view', 'page_id': solution['solution_id']} %}
          {% else %}
            {% set details = {'page': 'view', 'icon': 'check-circle-o', 'text': _('Check'), 'css': 'checked', 'page_id': solution['solution_id']} %}
          {% endif -%}
          {%- if not solution.get('is_archived') or solution.get('is_checked') is not none %}
          <a class="our-button go-{{ details['css'] }}" href="{{ details['page'] }}/{{ details['page_id'] }}">
            {{ details['text'] | e }}
            <i class="fa fa-{{ details['icon'] }}" aria-hidden="true"></i>
          </a>
          {% endif -%}
        </div>
      </div>
      {% endfor -%}
      {%- if not fetch_archived %}
      <div class="exercise centered">
        <div id="show-all-exercises-action" class="right-side">
          <a href="?archived=1">{{ _('All Exercises') }}</a>
        </div>
      </div>
      {% endif -%}
    </div>
  </div>
</div>
{%- endblock -%}
