{%- extends 'base.html' -%}

{%- block page_content -%}
<div id="exercises-page-container" class="container">
  <div id="exercises-page" class="page {{ direction }}">
    <div id="exercises-header">
      <div id="main-title">
        <h1 id="exercises-head">{{ _('Exercises') }}</h1>
      </div>
      <div id="upload-solutions-button">
        {% if current_user.last_course_viewed %}
        <a href="{{ url_for('send_', course_id=current_user.last_course_viewed.id) }}" class="our-button our-cta-button">
          <i class="fa fa-upload" aria-hidden="true"></i>
          {{ _('Upload Solutions') }}
        </a>
        {% endif %}
      </div>
    </div>
    <div id="exercises">
      {%- for exercise in exercises %}
      {%- if exercise.get('is_checked') is none %}
        {% set details = {'page': 'send', 'icon': 'upload', 'text': _('Send'), 'css': 'send', 'page_id': exercise['course_id'] ~ '/' ~ exercise['exercise_id']} %}
      {% elif not exercise.get('is_checked') %}
        {% set details = {'page': 'view', 'icon': 'eye', 'text': _('View'), 'css': 'view', 'page_id': exercise['solution_id']} %}
      {% else %}
        {% set details = {'page': 'view', 'icon': 'check-circle-o', 'text': _('Check'), 'css': 'checked', 'page_id': exercise['solution_id']} %}
      {% endif -%}
      {%- if not exercise.is_archived or exercise.get('is_checked') is not none -%}
      <a href="{{ details['page'] }}/{{ details['page_id'] }}" class="exercise-link">
      {%- endif -%}
        <div class="exercise" {%- if exercise.grade_color %} style="border-inline-start-color: {{ exercise.grade_color }};" {%- endif -%}>
          <div class="right-side {{ direction }}-language">
            <i class="fa fa-{{ details['icon'] }} exercise-status-icon" aria-hidden="true"></i>
            <div class="exercise-number me-3">{{ exercise['exercise_number'] }}</div>
            <div class="exercise-name"><div class="ex-title">{{ exercise['exercise_name'] | e }}</div></div>
          </div>
          <div class="left-side">
            {%- if exercise['notebook'] %}
            <div class="which-notebook">
              <i class="fa fa-book" aria-hidden="true"></i>
              {{ exercise['notebook'] }}
            </div>
            {%- endif %}
          </div>
        </div>
      {%- if not exercise.is_archived or exercise.get('is_checked') is not none -%}
      </a>
      {%- endif -%}
      {% endfor -%}
      {%- if not fetch_archived %}
      <a href="?archived=1">
        <div class="exercise centered">
          <div id="show-all-exercises-action" class="right-side">
            {{ _('All Exercises') }}
          </div>
        </div>
      </a>
      {% endif -%}
    </div>
  </div>
</div>
{%- endblock -%}
