<div id="filetree">
  <ol id="files">
    {%- for file in files %}
    <li class="file" data-id="{{ file.id }}">
      <div class="file-comments-count">
      {%- if not shared_url and not file.is_folder %}
        <span class="badge bg-{%- if comments[file.id] -%}danger{%- else -%}success{%- endif -%}">
          {{ comments[file.id] }}
        </span>
      {% endif -%}
      </div>
      <span class="indent" style="margin-left: {{ (file.indent + 1) * 0.8 }}em"></span>
      <span class="
      {%- if file.is_folder -%}
      fiv-viv fiv-icon-folder">
      {%- else -%}
        {% if '.' in file.path %}
        fiv-viv fiv-icon-{{ file.path.rsplit('.')[-1] | e }}">
        {% else %}
        fiv-viv fiv-icon-blank">
        {% endif %}
      {%- endif -%}
      </span>
      {% if not file.is_folder -%}
        <a href="/
        {%- if not shared_url -%}
          view/{{ solution.id }}
        {%- else -%}
          shared/{{ shared_url }}
        {%- endif -%}
        /{{ file.id }}" 
      {% else -%}
      <span
      {% endif -%}
      class="filename link" title="{{ file.path | e }}">{{ file.path | truncate(25, killwords=True) | e }}
      {%- if not file.is_folder -%}
        </a>
      {%- else -%}
        </span>
      {%- endif -%}
    </li>
    {% endfor -%}
  </ol>
</div>
