<div id="filetree">
  <ol id="files">
    {%- for file in files %}
    <li class="file">
      <span class="indent" style="padding-left: {{ file.indent }}em"></span>
      <span class="
      {%- if file.is_folder -%}
        icon hawcons-icon-folder">
      {%- else -%}
        icon hawcons-icon-document-text hawcons-icon-file-{{ file.path.rsplit('.')[-1] }}">
      {%- endif -%}
      </span>
      <span class="filename" title="{{ file.path }}">{{ file.path | truncate(25, killwords=True) }}</span>
    </li>
    {% endfor -%}
  </ol>
</div>
