{% extends 'base.html' %}

{% block page_content %}
  <div class="container">
    <div id="login-container">
        <div id="login" class="text-center">
            <img id="login-logo" src="{{ url_for('static', filename='avatar.jpg') }}" alt="{{ gettext('תמונת הפרופיל של קורס פייתון') }}" width="72" height="72">
            <h1 id="main-title" class="h3 font-weight-normal">{{ gettext('התחברות') }}</h1>
            <p>
                {{ gettext('ברוכים הבאים למערכת התרגילים!') }}<br>
                {{ gettext('הזינו את שם המשתמש והסיסמה שלכם:') }}
            </p>
            <form method="post" action="/login" class="mb-6">
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="username" id="username" placeholder="{{ gettext('שם משתמש') }}" required autofocus>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" name="password" id="password" placeholder="{{ gettext('סיסמה') }}" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}" required>
                </div>
                <button class="btn btn-primary btn-lg btn-block">{{ gettext('התחבר') }}</button>
            </form>
        </div>
    </div>
  </div>
{% endblock %}
