{% if current_user.is_authenticated and not current_user.role.is_banned %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ config.HOME_URL or "#" }}">
      <img src="{{ url_for('static', filename='avatar.jpg') }}" width="30" height="30" class="d-inline-block align-top" alt="{{ config.SITE_NAME }}">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/user/{{ current_user.id }}" class="nav-link">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{ current_user.fullname | e }}
          </a>
        </li>
        <li class="nav-item dropdown">
          <a id="notifications-icon" href="#" class="nav-link dropdown-toggle" aria-expanded="false" aria-haspopup="true" aria-label="Notifications" role="button" data-bs-toggle="dropdown">
            <i class="fa fa-bell" aria-hidden="true"></i>
            {{ _('הודעות') }}
            <span id="notification-count" class="badge bg-secondary">0</span>
          </a>
          <ul id="notifications-list" aria-labelledby="notifications-icon" class="dropdown-menu">
            {% for notification in current_user.get_notifications() %}
            <li class="notification dropdown-item" data-read="{{ notification.viewed | lower }}">
              <i class="fa icon" aria-hidden="true"></i>
              <a href="{{ notification.action_url }}" class="notification-text">
                {{ notification.message | e }}
              </a>
              <span class="notification-date" title="{{ notification.created }}">{{ notification.created | date_humanize }}</span>
            </li>
            {% endfor -%}
            <li><hr class="dropdown-divider"></li>
            <li id="read-notifications" class="notification dropdown-item">
              <i class="fa fa-check" aria-hidden="true"></i>
              <a href="#">{{ _('סמן הכל כנקרא') }}.</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/send" class="nav-link">
            <i class="fa fa-upload" aria-hidden="true"></i>
            {{ _('העלאת תרגילים') }}
          </a>
        </li>
        {%- if not exercises or fetch_archived %}
        <li class="nav-item">
          <a href="/exercises" class="nav-link">
            <i class="fa fa-book" aria-hidden="true"></i>
            {{ _('רשימת התרגילים') }}
          </a>
        </li>
        {% endif -%}
        {%- if exercises and not fetch_archived %}
        <li class="nav-item">
          <a href="/exercises?archived=1" class="nav-link">
            <i class="fa fa-archive" aria-hidden="true"></i>
            {{ _('ארכיון התרגילים') }}
          </a>
        </li>
        {% endif -%}
      </ul>
      <ul class="navbar-nav ms-auto">
        {%- if current_user.role.is_manager %}
        <li class="nav-item">
          <a href="/status" class="nav-link">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            {{ _('בדוק תרגילים') }}
          </a>
        </li>
        {% endif -%}
        <li class="nav-item">
          <a href="/logout" class="nav-link">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            {{ _('התנתקות') }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}
