{% macro notification(text, date) %}
          <div class="notification dropdown-item">
            <div class="notification-icon">
              <div class="notification-icon-store">
                <i class="fa fa-{{ icon }}" aria-hidden="true"></i>
              </div>
            </div>
            <div class="notification-data">
              <span class="notification-text">{{ text }}</span>
              <span class="notification-date">{{ date }}</span>
              <a href="#" class="notification-ok">
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
{% endmacro %}
