          <template id="notification">
            <div class="notification">
              <div class="notification dropdown-item">
                <div class="notification-icon">
                  <div class="notification-icon-store"></div>
                </div>
                <div class="notification-data">
                  <div class="notification-text"></div>
                  <div class="notification-date"></div>
                </div>
                <div class="notification-controller">
                  <a href="#" class="notification-ok">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </template>
