{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block page_content %}
  <div class="container">
    <div id="reset-password-container">
      <div id="reset-password" class="text-center">
        <img id="reset-password-logo" src="{{ url_for('static', filename='avatar.jpg') }}" alt="{{ _('Profile picture of the Python Course') }}" width="72" height="72">
        <h1 id="main-title" class="h3 font-weight-normal">{{ _('Reset Password') }}</h1>
        <p>
          {{ _('Insert your email for getting link to reset it:') }}
        </p>
        <form class="align-items-center {{ direction }}-language" method="post" action="{{ url_for('reset_password') }}">
            {{ render_field(form.email, cls="form-control form-control-lg", placeholder=_('Email Address')) }}
          <button class="btn btn-primary btn-lg btn-block">{{ _('Send Reset Password Link') }}</button>
        </form>
        <hr class="mt-3 mb-3">
        <a href="/" class="btn btn-success btn-sm" role="button">{{ _('Back to login page') }}</a>
      </div>
    </div>
  </div>
{% endblock %}
