{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block page_content %}
  <div class="container">
    <div id="signup-container">
      <div id="signup" class="text-center">
        <img id="signup-logo" src="{{ url_for('static', filename='avatar.jpg') }}" alt="{{ _('Profile picture of the Python Course') }}" width="72" height="72">
        <h1 id="main-title" class="h3 font-weight-normal">{{ _('Registration') }}</h1>
        <p>
          {{ _('Welcome to the exercise system!') }}<br>
          {{ _('Insert your email and password for registration:') }}
        </p>
        <form class="align-items-center {{ direction }}-language" method="post" action="{{ url_for('signup') }}">
            {{ render_field(form.email, cls="form-control form-control-lg", placeholder=_('Email Address')) }}
            {{ render_field(form.username, cls="form-control form-control-lg", placeholder=_('Username')) }}
            {{ render_field(form.fullname, cls="form-control form-control-lg", placeholder=_('Full Name')) }}
            {{ render_field(form.password, cls="form-control form-control-lg", placeholder=_('Password')) }}
            {{ render_field(form.confirm, cls="form-control form-control-lg", placeholder=_('Password Confirmation')) }}
          <input class="form-control form-control-lg" type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}" required>
          <input class="form-control form-control-lg" type="hidden" name="next" id="next" value="{{ request.args.get('next', '') }}">
          <button class="btn btn-primary btn-lg btn-block">{{ _('Register') }}</button>
        </form>
        <hr class="mt-3 mb-3">
        <a href="/" class="btn btn-success btn-sm" role="button">{{ _('Back to login page') }}</a>
      </div>
    </div>
  </div>
{% endblock %}
