
{% extends 'base.html' %}

{% block page_content %}
<div id="page-status" class="{{ direction }}">
  <div id="status-head">
    <h1>{{ _('Exercises operations room') }}</h1>
    <table class="table">
      <thead>
	<tr>
          <th scope="col">#</th>
          <th scope="col">{{ _('Name') }}</th>
          <th scope="col">{{ _('Checked') }}</th>
          <th scope="col">{{ _('Solved') }}</th>
          <th scope="col">{{ _('Percentage') }}</th>
          <th scope="col">{{ _('Measurement') }}</th>
	</tr>
      </thead>
      <tbody>
    {%- for exercise in exercises|rejectattr("is_archived") %}
        <tr>
          <th scope="row">{{ exercise['id'] }}</th>
          <td><a href="/check/{{ exercise['id'] }}">{{ exercise['name'] | e }}</a></td>
          <td>{{ exercise['checked'] }}</td>
          <td>{{ exercise['submitted'] }}</td>
          <td>{{ (exercise['checked'] * 100 / exercise['submitted']) | round(2, 'floor') }}%</td>
	  <td><progress dir="ltr" value="{{ exercise['checked'] }}" max="{{ exercise['submitted'] }}"></progress></td>
	</tr>
    {% endfor -%}
    <tr id="archive-row">
        <td colspan="100%"><strong>{{ _('Archive') }}</strong></td>
    </tr>
    {%- for exercise in exercises|selectattr("is_archived") %}
        <tr>
    	  <th scope="row">{{ exercise['id'] }}</th>
          <td><a href="/check/{{ exercise['id'] }}">{{ exercise['name'] | e }}</a></td>
          <td>{{ exercise['checked'] }}</td>
          <td>{{ exercise['submitted'] }}</td>
          <td>{{ (exercise['checked'] * 100 / exercise['submitted']) | round(2, 'floor') }}%</td>
	  <td><progress dir="ltr" value="{{ exercise['checked'] }}" max="{{ exercise['submitted'] }}"></progress></td>
	</tr>
    {% endfor -%}
    </tbody>
    </table>
  </div>
</div>
{% endblock %}
