{% extends 'base.html' %}

{% block page_content %}
<div id="page-user">
  <div id="user" class="{{ direction }}">
    <h1>{{ user.fullname | e }}</h1>
    <div class="body">
      <div class="user-details {{ direction }}">
        <h2>{{ gettext('פרטי משתמש:') }}</h2>
        <ul>
          <li>{{ gettext('שם משתמש:') }} {{ user.username | e }}</li>
          <li>{{ gettext('דואר אלקטרוני:') }} {{ user.mail_address | e }}</li>
        </ul>
      </div>
      <div class="user-exercises {{ direction }}">
      <h2>{{ gettext('תרגילים שהוגשו:') }}</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ gettext('שם תרגיל') }}</th>
              <th scope="col">{{ gettext('מצב הגשה') }}</th>
              <th scope="col">{{ gettext('הגשה') }}</th>
              <th scope="col">{{ gettext('בודק') }}</th>
            </tr>
          </thead>
          <tbody>
            {%- for solution in solutions %}
            <tr>
              <th scope="row">{{ solution.exercise_id | e }}</th>
              <td>{{ solution.exercise_name | e }}</td>
              <td>
                {{ gettext('נבדק') if solution.is_checked else gettext('הוגש') if solution.solution_id else gettext('לא הוגש') }}
              </td>
              <td><a href="/view/{{ solution.solution_id }}">{{ solution.solution_id }}</a></td>
              <td>{{ solution.get('checker', '') | e }}</a></td>
            </tr>
            {% endfor -%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
