{% extends 'base.html' %}

{% block page_content %}
<div id="page-user" data-user="{{ user.id }}" data-role="{{ current_user.role | lower }}" data-notes-options="{{ notes_options }}">
  <div id="user" class="{{ direction }}">
    <h1>{{ user.fullname | e }}</h1>
    <div class="body">
      <div class="user-details {{ direction }}">
        <h2>{{ _('פרטי משתמש:') }}</h2>
        <ul>
          <li>{{ _('שם משתמש:') }} {{ user.username | e }}</li>
          <li>{{ _('דואר אלקטרוני:') }} {{ user.mail_address | e }}</li>
        </ul>
      </div>
      <div class="user-actions {{ direction }}">
        <h2>{{ _('פעולות:') }}</h2>
        <div id="change-password-user">
          <ul>
            <li><a href="{{ url_for('change_password') }}" role="button">{{ _('שנה סיסמה') }}</a></li>
          </ul>
        </div>
      </div>
      <div class="user-exercises {{ direction }}">
      <h2>{{ _('תרגילים שהוגשו:') }}</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ _('שם תרגיל') }}</th>
              <th scope="col">{{ _('מצב הגשה') }}</th>
              <th scope="col">{{ _('הגשה') }}</th>
              <th scope="col">{{ _('בודק') }}</th>
            </tr>
          </thead>
          <tbody>
            {%- for solution in solutions %}
            <tr>
              <th scope="row">{{ solution.exercise_id | e }}</th>
              <td>{{ solution.exercise_name | e }}</td>
              <td>
                {{ _('נבדק') if solution.is_checked else _('הוגש') if solution.solution_id else _('לא הוגש') }}
              </td>
              <td><a href="/view/{{ solution.solution_id }}">{{ solution.solution_id }}</a></td>
              <td>{{ solution.get('checker', '') | e }}</a></td>
            </tr>
            {% endfor -%}
          </tbody>
        </table>
      </div>
      {% if user.notes or is_manager %}
        <div class="{{ direction }}">
          <h2>{{ _('פתקיות:') }}</h2>
          <div class="user-notes {{ direction }}" id="notes-user"></div>
          {%- if is_manager %}
            <form class="align-items-center" id="notes-form">
              <div class="row mb-3 {{ direction }}-language">
                <label for="note-text" class="visually-hidden">{{ _('פתקית חדשה') }}</label>
                <div>
                  <input id="note-text" class="form-control form-control-lg {{ direction }}" type="text" name="note" placeholder="{{ _('פתקית חדשה') }}" required>
                </div>
              </div>
              <div class="mb-3 {{ direction }}-language note-exercise-select">
                <label class="form-label auto-width" for="note-exercise">{{ _('תרגיל משויך:') }}</label>
                <input class="form-control auto-width" list="note-exercises" id="note-exercise" name="exercise">
                <datalist id="note-exercises">
                  {% for solution in solutions %}
                    <option value="{{ solution.exercise_name }}">
                  {% endfor %}
                </datalist>
              </div>
              <div class="row mb-3 {{ direction }}-language note-privacy-select">
                <label class="form-label auto-width" for="note-privacy">{{ _('רמת פרטיות:') }}</label>
                <div class="note-privacy-input-range">
                  <input type="range" class="form-range" min="0" max="{{ notes_options.split(',') | length - 1 }}" value="0" id="note-privacy" name="privacy">
                  <span class="note-privacy-text" id="privacy-text"></span>
                </div>
              </div>
              <button class="btn btn-primary btn-sm btn-block add-note">{{ _('הוסף פתקית') }}</button>
            </form>
          {% endif -%}
        </div>
      {% endif %}
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='notes.js') }}"></script>
{% endblock %}
