{% extends 'base.html' %}

{% block page_content %}
<div id="page-user">
  <div id="user" class="{{ direction }}">
    <h1>{{ user.fullname | e }}</h1>
    <div class="body">
      <div class="user-details {{ direction }}">
        <h2>{{ _('פרטי משתמש:') }}</h2>
        <ul>
          <li>{{ _('שם משתמש:') }} {{ user.username | e }}</li>
          <li>{{ _('דואר אלקטרוני:') }} {{ user.mail_address | e }}</li>
        </ul>
      </div>
      <div class="user-exercises {{ direction }}">
      <h2>{{ _('תרגילים שהוגשו:') }}</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ _('שם תרגיל') }}</th>
              <th scope="col">{{ _('מצב הגשה') }}</th>
              <th scope="col">{{ _('הגשה') }}</th>
              <th scope="col">{{ _('בודק') }}</th>
            </tr>
          </thead>
          <tbody>
            {%- for solution in solutions %}
            <tr>
              <th scope="row">{{ solution.exercise_id | e }}</th>
              <td>{{ solution.exercise_name | e }}</td>
              <td>
                {{ _('נבדק') if solution.is_checked else _('הוגש') if solution.solution_id else _('לא הוגש') }}
              </td>
              <td><a href="/view/{{ solution.solution_id }}">{{ solution.solution_id }}</a></td>
              <td>{{ solution.get('checker', '') | e }}</a></td>
            </tr>
            {% endfor -%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
