{% extends 'base.html' %}

{% block page_content %}
<div id="page-view">
  <div id="view-head">
    <h1>תצוגת תרגיל {{ solution['exercise']['id'] }}: {{ solution['exercise']['subject'] }}</h1>
    {% if not is_manager %}
      {% if solution['state'] == 'DONE' %}
        <p class="checked-msg"><strong>התרגיל שלך נבדק!</strong> לחצו על השורות האדומות כדי לראות את הערות הבודקים.</p>
      {% elif solution['state'] == 'IN_CHECKING' %}
        <p class="unchecked-msg"><strong>התרגיל שלך נבדק ברגעים אלו!</strong></p>
      {% elif solution['state'] == 'OLD_SOLUTION' %}
        <p class="unchecked-msg"><strong>פתרון זה אינו פתרון עדכני!</strong></p>
      {% else %}
        <p class="unchecked-msg"><strong>התרגיל שלך מחכה לבדיקה.</strong> חשוב לנו שכל תרגיל יעבור בדיקה של עין אנושית.</p>
      {% endif %}
    {% else %}
    <p id="solver"><strong>מגיש:</strong> {{ solution['solver']['fullname'] }}</p>
    {% endif %}
    <nav id="versions" aria-lael="ניווט בגרסאות ההגשה">
      <ul class="pagination">
      {%- for version in versions %}
        {% set current = version['id'] == solution['id'] %}
        <li class="page-item version{% if current %} active{% endif %}"{% if current %} aria-current="page"{% endif %}>
          <a href="{{ version['id'] }}" class="version page-link">{{ loop.index }}</a>
          {%- if current %}<span class="sr-only">(current)</span>{% endif -%}
        </li>
      {% endfor -%}
      </ul>
    </nav>
  </div>
  <div id="view-body">
      <div class="code-view-container">
          <div id="code-view" data-id="{{ solution['id'] }}" data-exercise="{{ solution['exercise']['id'] }}" data-role="{{ role }}">
              <pre><code class="language-python line-numbers highlight">{{- solution['json_data_str'] | trim(' ') -}}</code></pre>
          </div>
          {% if test_results %}
              <div class="test-results">
                  <h3 class="test-result-title">בדיקות אוטומטיות</h3>
                  <ol class="test-results-list">
                      {%- for test_result in test_results %}
                          <li class="test-result" draggable="true">
                              <h5 class="test-name">
                                  {{ test_result.pretty_test_name }}
                              </h5>
                              <span class="title">שגיאה:</span>
                              <span>
                                  <pre><code class="language-python highlight">{{ test_result.user_message }}</code></pre>
                              </span>
                              {% if is_manager %}
                                  <span class="title">שגיאת סגל:</span>
                                  <span class="stack-trace">
                                      <pre><code class="language-python highlight">{{ test_result.staff_message }}</code></pre>
                                  </span>
                              {% endif %}
                          </li>
                      {% endfor -%}
                  </ol>
              </div>
          {% endif %}
      </div>
    {% if is_manager %}
    <div id="popular-comments">
      <div id="exercise-comments">
        <h2>הערות על התרגיל</h2>
        <ol id="exercise-comments-list" class="comments exercise-comments">
          {%- for comment in exercise_common_comments %}
          <li class="known-comment" draggable="true" data-commentid="{{ comment.id }}">{{ comment.text }}</li>
          {% endfor -%}
        </ol>
      </div>
      <div id="all-comments">
        <h2>הערות כלליות</h2>
        <ol id="all-comments-list" class="comments all-comments">
          {%- for comment in all_common_comments %}
          <li class="known-comment" draggable="true" data-commentid="{{ comment.id }}">{{ comment.text }}</li>
          {% endfor -%}
        </ol>
      </div>
      <div id="all-comments">
        <h2>הערות בודק</h2>
        {% if user_comments %}
            <ol id="my-comments-list" class="comments my-comments">
              {%- for comment in user_comments %}
              <li class="known-comment" draggable="true" data-commentid="{{ comment.id }}">{{ comment.text }}</li>
              {% endfor -%}
            </ol>
        {% endif -%}
      </div>
      <div id="grader-buttons">
        <button id="save-check" class="btn btn-success">סיימתי לבדוק!</button>
        <a id="ninja" href="#" class="badge badge-dark" style="display: none;">Ninja Mode</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='prism.js') }}"></script>
<script src="{{ url_for('static', filename='comments.js') }}"></script>
{%- if is_manager %}
<script src="{{ url_for('static', filename='grader.js') }}"></script>
<script src="{{ url_for('static', filename='keyboard.js') }}"></script>
{% endif -%}
{% endblock %}
