{% extends 'base.html' %}

{% block page_content %}
<div id="page-view">
  <div id="view-head">
    <h1>{{ _('תצוגת תרגיל') }} {{ solution['exercise']['id'] }}: {{ solution['exercise']['subject'] }}</h1>
    {% if not is_manager and not shared_url %}
      {% if solution['state'] == 'DONE' %}
        <p class="checked-msg {{ direction }}"><strong>{{ _('התרגיל שלך נבדק!') }}</strong> {{ _('לחצו על השורות האדומות כדי לראות את הערות הבודקים.') }}</p>
      {% elif solution['state'] == 'IN_CHECKING' %}
        <p class="unchecked-msg {{ direction }}"><strong>{{ _('התרגיל שלך נבדק ברגעים אלו!') }}</strong></p>
      {% elif solution['state'] == 'OLD_SOLUTION' %}
        <p class="unchecked-msg {{ direction }}"><strong>{{ _('פתרון זה אינו פתרון עדכני!') }}</strong></p>
      {% else %}
        <p class="unchecked-msg {{ direction }}"><strong>{{ _('התרגיל שלך מחכה לבדיקה.') }}</strong> {{ _('חשוב לנו שכל תרגיל יעבור בדיקה של עין אנושית.') }}</p>
      {% endif %}
    {% else %}
    <p id="solver"><strong>{{ _('מגיש') }}:</strong> <a href="/user/{{ solution['solver']['id'] }}">{{ solution['solver']['fullname'] | e }}</a></p>
    {% endif %}
    {% if not shared_url %}
    <nav id="versions" aria-label="{{ _('ניווט בגרסאות ההגשה') }}">
      <ul class="pagination">
        {%- for version in versions %}
          {% set current = version['id'] == solution['id'] %}
          <li class="page-item version{% if current %} active{% endif %}"{% if current %} aria-current="page"{% endif %}>
            <a href="{{ url_for('view', solution_id=version['id']) }}" class="version page-link">{{ loop.index }}</a>
          {%- if current %}<span class="visually-hidden">{{ _("העמוד הנוכחי") }}</span>{% endif -%}
          </li>
        {% endfor -%}
      </ul>
    </nav>
    {% if is_manager and not shared_url %}
        <div class="progress manager-progress-bar">
            <div class="progress-bar" style="width: {{ left }}%;" role="progressbar" aria-valuenow="{{ left }}" aria-valuemax="100">
                {{ left }}% {{ _('לסיום בדיקה') }}
            </div>
        </div>
    {% endif %}
    {%- endif %}
  </div>
  <div id="view-body">
    <div class="code-view-container">
      <div id="code-toolbar">
        <div id="number-of-lines">{{ current_file.code.splitlines() | length }} lines</div>
        <div id="code-toolbar-buttons">
          {% if config.SHAREABLE_SOLUTIONS and not shared_url %}
          <div id="share-solution" class="code-toolbar-button glowing">
            <div id="share-text">
              <button id="share-action" title="Share solution"><i class="fa fa-share-alt"></i></button>
            </div>
            <div id="share-box" class="glowing d-none">
              <button id="cancel-share" class="share-button" title="Disable share solution"><i class="fa fa-trash"></i></button>
              <button id="copy-link" class="share-button" title="Copy shared link"><i class="fa fa-copy"></i></button>
              <input id="shareable-link" class="form-control" type="text" readonly>
            </div>
          </div>
          {% endif -%}
          <div id="download-code" class="code-toolbar-button glowing">
            <form>
              <button id="download-solution" formaction="/download/{% if shared_url %}{{ shared_url }}{% else %}{{ solution['id'] }}{% endif %}">
                <i class="fa fa-download"></i>
              </button>
            </form>
          </div>
          <div id="copy-code" class="code-toolbar-button glowing">
            <button id="copy-button" class="button-copy" title="Copy code"><i class="fa fa-copy"></i></button>
          </div>
        </div>
      </div>
      <div id="code-view" data-id="{{ solution['id'] }}" data-file="{{ current_file.id }}" data-exercise="{{ solution['exercise']['id'] }}" data-role="{{ role }}" data-solver="{{ solution['solver']['fullname'] }}" data-allowed-comment="{{ config['USERS_COMMENTS'] | lower }}">
        <pre><code id="user-code" class="language-{{ current_file | language_name }} line-numbers highlight">{% if current_file | language_name in image_extensions %}<div class="code-image-block"><img class="code-image" src="data:{{ current_file | mime_type }};base64,{{ current_file.code }}"></div>{% else %}{{- current_file.code | trim(chars=' ') | e -}}{% endif %}</code></pre>
      </div>
      {% if test_results and not shared_url %}
      <div class="test-results">
          <h3 class="test-result-title">{{ _('בדיקות אוטומטיות') }}</h3>
          <ol class="test-results-list">
              {%- for test_result in test_results %}
              <li class="test-result">
                  <h5 class="test-name">
                      {{ test_result.pretty_test_name | e }}
                  </h5>
                  <span class="title">{{ _('שגיאה:') }}</span>
                  <span>
                      <pre><code class="language-{{ current_file | language_name }} highlight">{{ test_result.user_message | e }}</code></pre>
                  </span>
                  {% if is_manager %}
                  <span class="title">{{ _('שגיאת סגל:') }}</span>
                  <span class="stack-trace">
                      <pre><code class="language-{{ current_file | language_name }} highlight">{{ test_result.staff_message | e }}</code></pre>
                  </span>
                  {% endif %}
              </li>
              {% endfor -%}
          </ol>
      </div>
      {% endif %}
    </div>
    {% if is_manager and not shared_url %}
    <div id="popular-comments">
      <div id="exercise-comments">
        <h2>{{ _('הערות על התרגיל') }}</h2>
        <ol id="exercise-comments-list" class="comments exercise-comments">
          {%- for comment in exercise_common_comments %}
          <li class="known-comment {{ direction }}" draggable="true" data-commentid="{{ comment.id }}">{{ comment.text | e }}</li>
          {% endfor -%}
        </ol>
      </div>
      <div id="all-comments" class="{{ direction }}">
        <h2>{{ _('הערות כלליות') }}</h2>
        <ol id="all-comments-list" class="comments all-comments">
          {%- for comment in all_common_comments %}
          <li class="known-comment {{ direction }}" draggable="true" data-commentid="{{ comment.id }}">{{ comment.text | e }}</li>
          {% endfor -%}
        </ol>
      </div>
      <div id="my-all-comments" class="{{ direction }}">
        <h2>{{ _('הערות בודק') }}</h2>
        {% if user_comments %}
            <ol id="my-comments-list" class="comments my-comments">
              {%- for comment in user_comments %}
              <li class="known-comment {{ direction }}" draggable="true" data-commentid="{{ comment.id }}">{{ comment.text | e }}</li>
              {% endfor -%}
            </ol>
        {% endif -%}
      </div>
      <div id="grader-buttons" class="{{ direction }}">
        <button id="save-check" class="btn btn-success">{{ _('סיימתי לבדוק!') }}</button>
        <a id="ninja" href="#" class="badge bg-dark" style="display: none;">Ninja Mode</a>
      </div>
    </div>
    {% endif %}
    {%- if files | length > 1 %}
      {% include 'filetree.html' %}
    {% endif -%}
  </div>
</div>
<script src="{{ url_for('static', filename='prism.js') }}"></script>
{% if not shared_url %}
<script src="{{ url_for('static', filename='comments.js') }}"></script>
{%- if is_manager or config.USERS_COMMENTS %}
<script src="{{ url_for('static', filename='grader.js') }}"></script>
{% endif -%}
{%- if is_manager %}
<script src="{{ url_for('static', filename='keyboard.js') }}"></script>
<script src="{{ url_for('static', filename='checker.js') }}"></script>
{% endif -%}
{% endif %}
{% endblock %}
